<a href="/#" class="logo">
  <span class="logo-mini">
  <img src="assets/logo_w24px.png" alt="S" style="width:100px !important;">
  </span>
  <span class="logo-lg">
    <img src="assets/logo_w24px.png" alt="S" style="width:100px !important;">
  </span>
</a>

<nav class="navbar navbar-static-top">
  <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        <li>
          <div style="margin-top: 7px; margin-right:7px;">
            <a ng-click="chageChatStatus()" ng-disabled="!can_to_be_online.chat" ng-class="{'btn-danger': !can_to_be_online.chat || !me.online_on_chat, 'btn-success': can_to_be_online.chat && me.online_on_chat}" class="btn line"><i class="fa fa-fw fa-comments" style="color:#FFF !important;font-size: 14px !important;"></i> CHAT</a>
          </div>
        </li>
        <li>
          <div style="margin-top: 7px;margin-right:7px;">
            <a ng-click="chageMsgStatus()" ng-disabled="!can_to_be_online.msg" ng-class="{'btn-danger': !can_to_be_online.msg || !me.online_on_msg, 'btn-success': can_to_be_online.msg && me.online_on_msg}" class="btn line"><i class="fa fa-fw fa-comments" style="color:#FFF !important;font-size: 14px !important;"></i> MENSAGEM</a>
          </div>
        </li>
        <li>
          <div style="margin-top: 7px;">
            <a ng-click="chageTelStatus()" ng-disabled="!can_to_be_online.tel" ng-class="{'btn-danger': !can_to_be_online.tel || !me.online_on_tel, 'btn-success': can_to_be_online.tel && me.online_on_tel}" class="btn line"><i class="fa fa-fw fa-comments" style="color:#FFF !important;font-size: 14px !important;"></i> TELEFONE</a>
          </div>
        </li>

          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span ng-if="notifications.total_unread > 0" class="label label-warning" style="background-color:#dd4b39 !important;">{{ notifications.total_unread }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Você possui {{ notifications.total }} notificações</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                  <li ng-repeat="notification in notifications.result">
                    <a>
                      <i class="fa fa-warning text-yellow"></i> {{ notification.message }}
                    </a>
                  </li>
                </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
              </li>
              <li class="footer"><a ng-click="mark_all_read()">Visualizar todos</a></li>
            </ul>
          </li>

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ me.photo }}" class="user-image" alt="User Image">
              <span class="hidden-xs" ng-bind="me.name"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{ me.photo }}" class="img-circle" alt="User Image">
                <p>
                  {{me.name}}
                  <small>{{me.profile}}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a ui-sref="me" class="btn btn-default btn-flat txt-upper">Perfil</a>
                  <a ui-sref="change_pass" class="btn btn-default btn-flat txt-upper" style="margin-left: 6px;">Alterar Senha</a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-danger txt-upper" style="color:#FFF !important;" ng-click="signout()">Sair</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
</nav>
