<section class="sidebar">
  <ul class="sidebar-menu">
    <li ng-class="{ active: isActive('dashboard') }">
      <a ui-sref="dashboard">
        <i class="fa fa-dashboard"></i> <span class="menu_item">Dashboard</span>
      </a>
    </li>
    <li ng-class="{ active: isActive('funil') }">
      <a ui-sref="funil">
        <i class="fa fa-filter"></i> <span class="menu_item">Funil de vendas</span>
      </a>
    </li>
    <li ng-class="{ active: isActive('calendar') }">
      <a ui-sref="calendar">
        <i class="fa fa-calendar"></i> <span class="menu_item">Agenda</span>
      </a>
    </li>
    <li ng-class="{ active: isActive('contacts') }">
      <a ui-sref="contacts">
        <i class="fa fa-list-alt"></i> <span class="menu_item">Contatos</span>
      </a>
    </li>
    <li ng-class="{ active: isActive('import') }">
      <a ui-sref="import">
        <i class="fa fa-file-excel-o"></i> <span class="menu_item">Importar</span>
      </a>
    </li>
  </ul>
</section>
