@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800);
html {
  background-color: #ecf0f5;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
.main-footer {
  position: fixed;
  bottom:0px;
  width:100%;
}
#toast-container {
  top: 70px;
}
a{
  cursor: pointer;
}
.border-transparent{
  border: #ecf0f5 solid 1px !important;
}
.border-transparent-cold{
  border-top: #3c8dbc solid 5px !important;
  border-left: #ecf0f5 solid 1px !important;
  border-right: #ecf0f5 solid 1px !important;
  border-bottom: #ecf0f5 solid 1px !important;
}
.border-transparent-hot{
  border-top: #dd4b39 solid 5px !important;
  border-left: #ecf0f5 solid 1px !important;
  border-right: #ecf0f5 solid 1px !important;
  border-bottom: #ecf0f5 solid 1px !important;
}
.border-transparent-warm{
  border-top: #f39c12 solid 5px !important;
  border-left: #ecf0f5 solid 1px !important;
  border-right: #ecf0f5 solid 1px !important;
  border-bottom: #ecf0f5 solid 1px !important;
}
.login-box:parent{
  background-image: url(../bg.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999999999999;
}
#loader img {
  position: absolute;
  top: 40%;
  left: 45%;
}
.user-block .username{
  max-width: 70% !important;
}
.btn-box-tool-colored{
  color: #fff !important
}
.skin-blue .main-header .navbar {
    background-color: #262b36;
}
.skin-blue .main-header .logo {
    background-color: #262b36;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #464f63;
    padding-top: 60px;
}
.main-header .navbar{min-height:60px;}
.main-header .logo{height:60px;line-height:60px;}
@media (min-width: 768px){
.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 120px;
}
.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 120px;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    margin-left: 0px;
}
}

.main-header .navbar-custom-menu, .main-header .navbar-right{
  min-height: 60px;
  padding-top: 8px;
}
.skin-blue .main-header .logo:hover{background-color: #262b36;}
.content-header>h1 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    background: #464f63;
    color: #fff;
    border-radius: 3px;
    padding: 8px;
    margin: 10px 5px 5px 5px;
}
.navbar-nav .fa{
  font-size: 18px !important;
    color: #778395 !important;
}
.user-menu{margin-top: -4px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 900;
    color: #778395;
  }

  .btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #1a7883;
    border-color: #1a7883;
}

.box-header .btn-primary {
    border-color: #259dab;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #ffffff;
    background-color: #259dab;
    border-color: transparent;
    padding: 1px;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #9bb352 !important;
}

.dash .bg-green{background:#a1a9b2 !important;}

.navbar-nav .line{text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #ffffff;}

.bg-blue {
    background-color: #2574ab !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #d9534f !important;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #5bc0de !important;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    background: rgba(0,0,0,0.2);
}

.info-box {
    display: block;
    min-height: 60px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-content {
    padding: 10px 10px;
    margin-left: 60px;
}
.info-box-text {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #ffffff;}

.box.box-solid.box-default>.box-header {
    color: #FFF;
    background: #9fa8bc;
    background-color: #9fa8bc;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: .5px;
    color: #ffffff;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    color: #7e8698;
    background-color: #bbc5dc;
    margin-top: 7px;
    margin-right: 10px;
}

.box.box-solid.box-default {
    border: 0;
}
.box.box-solid.box-default>.box-header {
    color: #FFF;
    background: #9fa8bc;
    background-color: #9fa8bc;
    border: 1px solid #9fa8bc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.navbar-nav .dropdown-menu {
    min-width: 105px;
  }

.navbar-nav .dropdown-menu>li>a {
    color: #777;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.user-block .username{text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 12px;
}


.box-body .btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;
    border-color: transparent;
    padding: 1px;
}

.box-body .btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;
    border-color: transparent;
    padding: 1px;
}

.box-header>.box-tools {
    position: absolute;
    right: 2px;
    top: 5px;
}

.user-block .description {
    color: #999;
    font-size: 11px;
}

.user-block img {
    width: 44px;
    height: 44px;
    float: left;
    padding: 2px;
    border: 2px solid #dbdfe6;
}

.img-sm, .box-comments .box-comment img, .user-block.user-block-sm img {
    width: 30px !important;
    height: 30px !important;
    padding: 2px;
    border: 2px solid #dbdfe6;
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;
    padding: 2px;
    border: 2px solid #778395;
}
.box-comments .username {
    color: #464f63;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    padding-bottom: 8px;
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
    font-size: 12px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    padding-top: 0px;
}

.box-widget .box-header>.box-tools {
    width: 100%;
    text-align: right;
    background: #f5f5f5;
    border-radius: 2px;
    position: relative;
}

.box-funil {
    color: #444;
    display: block;
    padding: 10px 0px 7px 4px;
    position: relative;
}

.border-transparent-cold {
    border-top: #259dab solid 5px !important;
    border-left: #ecf0f5 solid 1px !important;
    border-right: #ecf0f5 solid 1px !important;
    border-bottom: #ecf0f5 solid 1px !important;
}

.bt-status{width:100%;background:#9fa8bc;border:0;text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;border-radius: 2px;margin-bottom:3px;}

.bt-plus{font-size:15px;font-size: 20px;padding-top: 2px;margin-left: -11px;}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 0;
    border-radius: 2px;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
}

.signwrapper {
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.sign-overlaybg {
    background-image: url(../dot.png);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
}

.sign-overlay {
    background-image: url(../bg.jpg);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 1;
}

.signpanel {
    background-color: rgba(0, 0, 0, 0.95);
    background-image: -webkit-linear-gradient(left, transparent 0%, #1b1f27 100%);
    background-image: -o-linear-gradient(left, transparent 0%, #1b1f27 100%);
    background-image: linear-gradient(to right, transparent 0%, #1b1f27 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff1b1f27', GradientType=1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    opacity: .75;
}

.signin {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(38, 43, 54, 0.9);
    padding: 20px;
    z-index: 300;
}

.panel {
    border: 0;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel {
    margin-bottom: 17px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.login-box, .register-box {
    width: 360px;
    margin: 26% auto !important;
}

.signwrapper .panel-title {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    text-transform: none;
    font-weight: 200;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: .7px;
}

.signin .forgot:hover, .signin .forgot:focus {
    color: #fff;
}

.signin .forgot {
        margin: 0px 0 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.content-chat {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 15px;
}

.direct-chat-danger .right>.direct-chat-text {
    background: #9bb352 !important;
    border-color: #9bb352 !important;
    color: #fff;
}

.direct-chat-danger .right>.direct-chat-text:after, .direct-chat-danger .right>.direct-chat-text:before {
    border-left-color: #9bb352 !important;
}

.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #464f63;
    background-color: #464f63;
}

.box.box-solid.box-danger {
    border: 1px solid #464f63;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    /*background-color: #9bb352 !important;*/
}

.btn-chat{width:100%;background:#259dab;border:0;text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;border-radius: 2px;margin-bottom:3px;    padding: 10px 10px 9px 10px;background-color: #259dab;
    border-color: #259dab;}

.txt-upper, .control-label{font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 11px;
    color: #464f63;}

.drop-prod{width: 99%;margin: 5px 5px 5px 4px;position: relative;}

.row-prod{margin: 0px -10px !important;}

.txt-prod{    padding: 0 14px;
    font-size: 12px;
    color: #999;
    text-align: justify;
    margin-top: -18px;}

.attachment-block .attachment-heading {
    margin-bottom: 24px;
}

.form-control{font-size:12px;}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #9fa8bc;
    border-color: #9fa8bc;
}

small.ng-binding{float: right;
    color: #b8c7ce !important;
    font-weight: 700 !important;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif !important;
    letter-spacing: .5px !important;
    text-transform: uppercase !important;
    font-size: 12px !important;}

.bt-fac{background:#259dab !important;border:0;text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;border-radius: 2px;margin-bottom:3px;    padding: 10px 10px 9px 10px;background-color: #259dab;
    border-color: #259dab;}

    .bt-cancelar{background:#dd4b39 !important;border:0;text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;border-radius: 2px;margin-bottom:3px;    padding: 10px 10px 9px 10px;background-color: #259dab;
    border-color: #dd4b39;}

.list-group-item {
    background: none !important;
    border: 1px solid #616c7c;
}

.profile-username {
    font-size: 19px;
    margin-top: 10px;
    letter-spacing: .5px;
    color: #fff;
}

.text-muted {
    color: #95a4b9;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
        padding: 0 4px 4px 4px;
}

.bt-ganhar{background:#9bb352  !important;border:0 !important;text-transform: uppercase !important;
    font-weight: 700 !important;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif !important;
    letter-spacing: .5px !important;
    font-size: 11px !important;
    color: #fff !important;border-radius: 2px !important;margin-bottom:3px !important;    padding: 10px 10px 9px 10px !important;
    border-color: #9bb352   !important;}

.bt-perder{background:#dd4b39 !important;border:0 !important;text-transform: uppercase !important;
    font-weight: 700 !important;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif !important;
    letter-spacing: .5px !important;
    font-size: 11px !important;
    color: #fff !important;border-radius: 2px !important;margin-bottom:3px !important;    padding: 10px 10px 9px 10px !important;
    border-color: #dd4b39 !important;}

.bt-devolver{background:#f4f4f4 !important;border:0 !important;text-transform: uppercase !important;
    font-weight: 700 !important;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif !important;
    letter-spacing: .5px !important;
    font-size: 11px !important;
    color: #3b414a !important;border-radius: 2px !important;margin-bottom:3px !important;    padding: 10px 10px 9px 10px !important;
    border-color: #f4f4f4 !important;}

.col-bt{padding-right: 8px;padding-left: 8px;}

.tel-item{font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 13px;
    color: #5bc0de;padding-top: 6px;}

.end-desc{    border-top: 1px solid #616c7c;padding-top:10px;}

.nav-tabs-custom>.nav-tabs {
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 11px;
    color: #464f63;
}

.nav-tabs-custom>.nav-tabs>li {
    border-top: 4px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}

.small-box h3 {
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box .icon {
    font-size: 35px !important;
    padding-top: 40px;
}

.box-neg{font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px !important;
        margin: 0 0 -10px 0;
    white-space: nowrap;
    padding: 0;}

.box-neg .small-box p {
    font-size: 11px;
    word-wrap: break-word;
}

.box-neg .bg-red, .box-neg .callout.callout-danger, .box-neg .alert-danger, .box-neg .alert-error, .box-neg .label-danger, .box-neg .modal-danger .modal-body {
    background-color: #d9534f !important;
}

.bt-register{background:#259dab  !important;border:0 !important;text-transform: uppercase !important;
    font-weight: 700 !important;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif !important;
    letter-spacing: .5px !important;
    font-size: 11px !important;
    color: #fff !important;border-radius: 2px !important;margin-bottom:3px !important;    padding: 10px 10px 9px 10px !important;
    border-color: #259dab   !important;}

#mosaic{width:675px;color:#464f63;}

.mosaic_a1_top{height: 164px;}

#mosaic .headerContent h1 {
    color: #FFF;
    font-size: 21px;
    margin: 25px 0px 15px 25px;
    text-align: left;
        padding-top: 30px;
}

#mosaic .headerContent h1 span {
    border-bottom: 4px solid;
    padding-bottom: 3px;
}

#mosaic #perfil p {
    margin-bottom: 20px;
}

#mosaic .headerContent p {
    color: #FFF;
    font-size: 12px;
    margin: 20px 0px 15px 25px;
    width: 400px;
}

#mosaic .headerContent p {
    color: #FFF;
    font-size: 12px;
    margin: 20px 0px 15px 25px;
    width: 400px;
}

#mosaic .row{width:675px;margin:0px;}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.profile-social > li a {
    color: #5bc0de !important;
    font-size: 25px;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.profile-user-img {
    width: 120px;
}

.obs .bg-aqua{
    background-color: #259dab !important;
}

.obs .small-box h3 {
    font-size: 15px;
}

.obs .small-box .icon {
    font-size: 35px !important;
    padding-top: 10px;
}

.obs-post p{    margin: 0 10px 10px 10px;color:#464f63;}

.tit-obs{background: #fafafa;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    color: #259dab !important;}

    .folder-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.folder-list li {
    display: block;
    border-bottom: 1px solid #eaecf0;
    padding-left: 20px;
}

.folder-list li a {
    display: block;
    padding: 9px 0 10px;
    color: #657390;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.folder-list li:first-child > a {
    padding-top: 0;
}

#interests .box {
    margin-bottom: 1px;
}

.time-bg{background:#657390 !important;}

#timeline .bg-blue, #timeline .bg-aqua, #timeline .bg-yellow, #timeline .bg-purple, #timeline .bg-gray {
    background-color: #d8dce3 !important;
    border: 2px solid #657390;
    color: #657390 !important;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #657390;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.funil-top .bg-red{background-color:#d9534f !important; }

.skin-blue .main-header li.user-header {
    background-color: #464f63;
}

.box-title:before {
    display:none !important;
}

.fc-color-picker .text-muted{font-size:30px !important;}

.fc-left button, .fc-right button{background: #464f63;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;}

.fc-center h2{
    color: #464f63;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;}

    .fc-icon-left-single-arrow:after {
    content: "\02039";
    font-weight: bold;
    font-size: 185%;
    top: -2%;
}
.fc-icon-right-single-arrow:after {
    content: "\0203A";
    font-weight: bold;
    font-size: 185%;
    top: -2%;
}
.fc-head .fc-head-container .fc-widget-header{padding:4px 0;color: #464f63;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;border:0;}

.fc-view-container{    border-left: 1px solid #d9e1e5;    border-right: 1px solid #d9e1e5;}

.fc-unthemed .fc-today {
    background: #d9e1e5;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover {
    border-color: #d9e1e5;
}

.sem-atendimento{font-size:18px !important; margin-top: 10px !important;margin-left:8px !important; color:#ca893d;float:left}
.txt-atendimento{font-size:11px !important;font-weight:bold;color:#ca893d;float:left;margin-top: 11px;}

.profile-username {
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: .5px;
    color: #fff;
}

.box_dashboard p{
text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 12px !important;
    color: #fff;}

.box_dashboard1 .bg-red, .box_dashboard1 .bg-yellow, .box_dashboard1 .bg-green, .box_dashboard1 .bg-aqua{background: #FFF !important;
    border-top: 3px solid #d2d6de !important;
    border-top-color: #464f63 !important;
    color:#9fa8bc !important;}

.box_dashboard1 .bg-red h3, .box_dashboard1 .bg-yellow h3, .box_dashboard1 .bg-green h3, .box_dashboard1 .bg-aqua h3{color:#9fa8bc !important;}

.box_dashboard1 .bg-red p, .box_dashboard1 .bg-yellow p, .box_dashboard1 .bg-green p, .box_dashboard1 .bg-aqua p{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px !important;
    color:#9fa8bc !important;
}

.box_dashboard2 .bg-red, .box_dashboard2 .bg-yellow, .box_dashboard2 .bg-green, .box_dashboard2 .bg-aqua{background: #FFF !important;
    border-top: 3px solid #d2d6de !important;
    border-top-color: #464f63 !important;
    color:#9bb352  !important;}

.box_dashboard2 .bg-red h3, .box_dashboard2 .bg-yellow h3, .box_dashboard2 .bg-green h3, .box_dashboard2 .bg-aqua h3{color:#9fa8bc !important;}

.box_dashboard2 .bg-red p, .box_dashboard2 .bg-yellow p, .box_dashboard2 .bg-green p, .box_dashboard2 .bg-aqua p{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px !important;
    color:#9fa8bc !important;
}

.bg_verde1 .bg-green{background-color: #9dc462 !important;}
.bg_verde1 .bg-green p{text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px !important;
    color:#FFFFFF !important;}

.bg_verde2 .bg-green{background-color: #739d34 !important;}
.bg_verde2 .bg-green p{text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px !important;
    color:#FFFFFF !important;}

.bg_verde3 .bg-green{background-color: #4f7514 !important;}
.bg_verde3 .bg-green p{text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px !important;
    color:#FFFFFF !important;}

.bt_ad_agenda{text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;
    background-color: #259dab;
    border-color: transparent;
    padding: 10px;}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 7px;
    border-radius: 2px;
}

.funil-steps .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 0px;
    border-radius: 2px;
}

.fc-color-picker>li {
    float: left;
    font-size: 22px;
    margin-right: 5px;
    line-height: 30px;
}

.fc-color-picker .text-muted {
    font-size: 25px !important;
}

.lista_contatos .box-primary{height:365px !important;}

.lista_contatos .btn-default{text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;
    font-size: 11px;
    color: #fff;
    background-color: #FFF;
    border-color: transparent;
    padding: 10px;color:#259dab;}

.menu_item{color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;
    letter-spacing: .5px;}
