html {
  background-color: #ecf0f5;
}

.main-footer {
  position: fixed;
  bottom:0px;
  width:100%;
}

#toast-container {
  top: 70px;
}

a{
  cursor: pointer;
}

.border-transparent{
  border: #ecf0f5 solid 1px !important;
}

.login-box:parent{
  background-image: url(../bg.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999999999999;
}

#loader img {
  position: absolute;
  top: 40%;
  left: 45%;
}

.user-block .username{
  max-width: 60% !important;
}

.btn-box-tool-colored{
  color: #fff !important
}

.direct-chat-messages{
  height: 500px !important;
}
