<div class="signwrapper" ng-controller="loginCtrl as lCtrl" style="overflow: visible !important;">
  <div class="sign-overlay"></div>
  <div class="sign-overlaybg"></div>
  <div class="signpanel"></div>
  <div class="signin">
    <div class="panel-heading">
      <center><h1><img src="http://simb.sistemasbrasal.com.br/public/assets/img/logo.png" alt="" style="width: 42%;"></h1></center>
      <h4 class="panel-title" style="font-weight:100;font-size:15px;">Bem-vindo!<br>Preencha os campos abaixo para acessar.</h4>
    </div>

<div class="panel-body ng-scope">
  <form name="myForm" ng-submit="lCtrl.login(formData)">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="E-mail" ng-model="formData.mail" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Senha" ng-model="formData.pass" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group">
        <a href="#" class="forgot">Esqueceu sua senha?</a>
      </div>
        <!-- /.col -->
      <div class="row">
        <div class="col-xs-12">
          <button ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary btn-block btn-flat" style="color: #ffffff;background-color: #259dab;border-color: transparent;text-transform: uppercase;font-weight: 700;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;letter-spacing: .5px;font-size: 12px;padding: 10px;border-radius: 2px;">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

</div>


  </div><!-- panel -->



</div>







