<!-- Profile Image -->
<div class="box box-primary" style="border-top-color: #464f63;background: #464f63;">
  <div class="box-body box-profile">
    <div class="col-xs-12 col-md-6 col-bt">
      <a class="btn btn-success btn-block bt-ganhar" data-toggle="modal" data-target="#myModalWin"><b>Ganhar</b></a>
      <div ng-include="'funilDetails/modal_win.html'"></div>
    </div>
    <div class="col-xs-12 col-md-6 col-bt">
      <a class="btn btn-danger btn-block bt-perder" data-toggle="modal" data-target="#myModalLose"><b>Perder</b></a>
      <div ng-include="'funilDetails/modal_lose.html'"></div>
    </div>
    <div class="col-xs-12 col-md-6 col-bt">
      <a class="btn btn-default btn-block bt-devolver" data-toggle="modal" data-target="#myModalGiveBack"><b>Devolver</b></a>
      <div ng-include="'funilDetails/modal_give_back.html'"></div>
    </div>
    <div class="col-xs-12 col-md-6 col-bt">
      <a class="btn btn-default btn-block bt-devolver" data-toggle="modal" data-target="#myModalContact"><b>Relacionamento</b></a>
      <div ng-include="'funilDetails/modal_contact.html'"></div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
