<div class="box-body box-neg">
  <a data-toggle="modal" data-target="#myModalValue">
    <value-box grid="12 3" color-class="bg-green" icon-class="fa fa-money"
      value="R$ {{ ctrl.negociation.value }}" text="Valor"></value-box>
  </a>
  <div ng-include="'funilDetails/modal_value.html'"></div>

  <value-box grid="12 3" color-class="{{ (ctrl.negociation.schedules.length > 0) ? 'bg-yellow' : 'bg-red' }}" icon-class="fa fa-calendar"
    value="{{ (ctrl.negociation.schedules.length > 0) ? ctrl.negociation.schedules.length : 'Sem Contato.' }}" text="Interações"></value-box>

  <value-box grid="12 3" color-class="bg-aqua" icon-class="fa fa-calendar"
    value="{{:: ctrl.negociation.created_at }}" text="Início do cadastro"></value-box>

  <value-box grid="12 3" color-class="bg-red" icon-class="fa fa-calendar"
    value="{{ (ctrl.negociation.schedules.length > 0) ? ctrl.negociation.schedules[0].date : 'Sem Contato.' }}" text="Última atualização"></value-box>
</div>
<div class="box-body">
  <div class="col-sm-3">
    <label class="control-label" for="canal"><b>DATA</b></label>


    <!--<div ng-controller="DatepickerPopupDemoCtrl">
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
</div>-->


      <div class="input-group">
        <input type="text" date-mask  placeholder="dd/mm/aaaa" class="form-control hasDatepicker ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" uib-datepicker-popup="{{ctrl.date_format}}" ng-model="ctrl.formDataAddSchedule.date" is-open="ctrl.popup1.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="ctrl.altInputFormats" />
        <span class="input-group-addon" ng-click="ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="col-sm-2">
      <label class="control-label" for="canal"><b>HORA</b></label>
      <div class="input-group mb15">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <div class="timepicker">
          <input id="tpBasic" required="required" time-mask="" type="text" class="form-control ui-timepicker-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="00:00" autocomplete="off" ng-model="ctrl.formDataAddSchedule.time" ng-required="true">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <label class="control-label" for="canal"><b>AGENDA</b></label>
      <br>
      <label>
        <input type="checkbox" ng-model="ctrl.formDataAddSchedule.show_in_calendar"> Adicionar
      </label>
    </div>
    <div class="col-sm-5">
      <label class="control-label" for="canal"><b>ATIVIDADE</b></label>
      <select required="" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="canal" ng-model="ctrl.formDataAddSchedule.activity">
        <option value="{{:: schedules_activity.id}}" ng-repeat="schedules_activity in ctrl.schedules_activities" ng-bind=":: schedules_activity.description"></option>
      </select>
    </div>
</div>

<div class="box-body">
  <div class="col-sm-12">
    <div class="form-group">
      <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" rows="4" placeholder="Anotações sobre a negocição" ng-model="ctrl.formDataAddSchedule.historic"></textarea>
    </div>
  </div>
  <div class="col-sm-12">
    <button class="btn bt-register" ng-click="ctrl.add_schedule()">Incluir</button>
    <button class="btn bt-perder" ng-click="ctrl.cancel_add_schedule()">Cancelar</button>
    <a href="http://portaldevendas.simb.inf.br/Negociacao/{{:: ctrl.me.email }}/{{:: ctrl.negociation.customer_person_id }}" target="_blank" class="btn bt-perder" style="float:right;background:#4f0b7b !important"><i class="fa fa-fw fa-building-o" style="color:#FFF !important;font-size: 14px !important"></i> Iniciar Negociação</a>
  </div>
</div>

<div class="box-body" ng-if="ctrl.negociation.schedules.length > 0">
  <div class="table-responsive" style="padding:0px;background: #fff;">
    <table class="table table-striped nomargin">
      <thead>
        <tr>
          <th class="txt-upper" style="background:#505b72;color:#FFF;width:172px;">Atendido por</th>
          <th class="txt-upper text-center" style="background:#505b72;color:#FFF;">Atividade</th>
          <th class="txt-upper text-center" style="background:#505b72;color:#FFF;">Data</th>
          <th class="txt-upper text-center" style="background:#505b72;color:#FFF;">Horário</th>
          <th class="txt-upper text-center" style="background:#505b72;color:#FFF;">Anotações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="schedule in ctrl.negociation.schedules">
          <td>{{schedule.agent_name}}</td>
          <td class="text-center">{{schedule.activity}}</td>
          <td class="text-center">{{schedule.date}}</td>
          <td class="text-center">{{schedule.time}}</td>
          <td class="text-center">{{schedule.historic}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


