<!-- Modal -->
<div class="modal fade" id="myModalContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Finalizar contato</h4>
      </div>
      <form name="formContact">
        <div class="modal-body">
          <div class="form-group">
            <select class="form-control" ng-model="ctrl.contact_form.reason" required>
              <option value="{{:: reason.id }}" ng-bind=":: reason.description" ng-repeat="reason in ctrl.reasons.contact"></option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simb" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-simb"  ng-click="ctrl.close_contact()" ng-disabled="formContact.$invalid">Concluir</button>
        </div>
      </form>
    </div>
  </div>
</div>
