<!-- Modal -->
<div class="modal fade" id="myModalValue" tabindex="-1" role="dialog" aria-labelledby="myModalLabelValue">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelValue">Motivo de ganhar</h4>
      </div>
      <form name="formValue">
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control" money-mask placeholder="Valor" ng-model="ctrl.negociation.value" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simb" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-simb"  ng-click="ctrl.change_value()" ng-disabled="formValue.$invalid" data-dismiss="modal">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
