<!-- Modal -->
<div class="modal fade" id="myModalWin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Motivo de ganhar</h4>
      </div>
      <form name="formWin">
        <div class="modal-body">
          <div class="form-group">
            <select class="form-control" ng-model="ctrl.win_form.reason" required>
              <option value="{{:: reason.id }}" ng-bind=":: reason.description" ng-repeat="reason in ctrl.reasons.win"></option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Observação" ng-model="ctrl.win_form.observation"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simb" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-simb"  ng-click="ctrl.win()" ng-disabled="formWin.$invalid">Ganhar</button>
        </div>
      </form>
    </div>
  </div>
</div>
