<p class="txt-upper" style="margin:10px 10px 0 10px;">Bem-vindo ao Módulo de vendas de Imóveis SIMB.</p><p class="txt-upper" style="margin:0px 10px 0 10px;"> Verifique a disponibilidade de Unidades, avaliação de propostas, emissão automática de contratos de compra e venda.</p>

<div class="row" style="margin:30px 5px 10px 5px;">

        <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="http://portaldevendas.simb.inf.br/Negociacao/{{:: ctrl.me.email }}/{{:: ctrl.negociation.customer_person_id }}" target="_blank">
          <div class="info-box bg-green" style="background:#4f0b7b !important">
            <span class="info-box-icon"><i class="fa fa-suitcase"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Proposta</span>
              <span class="info-box-number">INICIAR NEGOCIAÇÃO</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="http://portaldevendas.simb.inf.br/EspelhoVendas/{{:: ctrl.me.email }}/{{:: ctrl.negociation.customer_person_id }}" target="_blank">
          <div class="info-box bg-yellow" style="background:#4f0b7b !important">
            <span class="info-box-icon"><i class="fa fa-building"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Espelho de Unidades</span>
              <span class="info-box-number">UN. DISPONÍVEIS</span>


            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="http://portaldevendas.simb.inf.br/ListaPropostas/{{:: ctrl.me.email }}/{{:: ctrl.negociation.customer_person_id }}" target="_blank">
          <div class="info-box bg-red" style="background:#4f0b7b !important">
            <span class="info-box-icon"><i class="fa fa-money"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">VENDAS</span>
              <span class="info-box-number">MINHAS PROPOSTAS</span>


            </div>
            <!-- /.info-box-content -->
          </div>
          </a>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
