<form name="myFormChangePass">
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="oldInput">Senha atual</label>
          <input id="oldInput" type="password" class="form-control" ng-model="ctrl.me.actual_pass" required placeholder="Senha atual">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="newInput">Nova senha</label>
          <input id="newInput" type="password" class="form-control" ng-model="ctrl.me.new_pass" required placeholder="Nova senha">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="rptNewInput">Repetir nova senha</label>
          <input id="rptNewInput" type="password" class="form-control" ng-model="ctrl.me.rpt_new_pass" required placeholder="Repetir nova senha">
        </div>
      </div>
    </div>
  </div>
  <button class="btn bt-register" ng-disabled="myFormChangePass.$invalid" ng-click="ctrl.change_pass()">Atualizar</button>
  <button class="btn bt-perder" ng-click="ctrl.refresh()">Cancelar</button>
</form>
