<div class="col-xs-12">
  <div class="fallback">
    <div ng-show="ctrl.uploader.uploading">
      <br>
      <uib-progressbar max="100" value="ctrl.uploader.progress"><span style="color:white; white-space:nowrap;">{{ctrl.uploader.progress}}</span></uib-progressbar>
      <br>
    </div>
    <div>
      <input style="display:none" name="file" type="file" id="file_upload" nv-file-select="" uploader="ctrl.uploader" />
    </div>
    <input style="display:none" name="file" type="file" id="file_upload" nv-file-select="" uploader="ctrl.uploader" />
  </div>
</div>
