<!-- Profile Image -->
<div class="box box-primary" style="border-top-color: #464f63;background: #464f63;">
  <div class="box-body box-profile">
    <img class="profile-user-img img-responsive img-circle" src="{{ ctrl.me.photo }}" alt="User profile picture">
    <div ng-include="'me/file_upload.html'"></div>

    <h3 class="profile-username text-center" ng-bind="ctrl.me.name"></h3>

    <p class="text-muted text-center" ng-bind=":: ctrl.me.profile"></p>

    <ul class="list-group list-group-unbordered">
      <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;" ng-if="ctrl.me.email != ''">
        <b>E-mail</b> <span class="pull-right" style="color:#5bc0de" ng-bind="ctrl.me.email"></span>
      </li>
      <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;" ng-if="ctrl.me.tel != ''">
        <b>Telefone</b> <span class="pull-right" style="color:#5bc0de" ng-bind="ctrl.me.tel"></span>
      </li>
    </ul>
    <div class="col-xs-6 col-bt">
      <a class="btn btn-default btn-block bt-devolver" ng-click="ctrl.choose_photo()"><b>Mudar foto</b></a>
    </div>
    <div class="col-xs-6 col-bt">
      <a class="btn btn-default btn-block bt-devolver" data-toggle="modal" data-target="#myModalEdit"><b>Editar</b></a>
      <div ng-include="'me/modal_edit.html'"></div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
