<div ng-controller="meCtrl as ctrl">

  <section class="content" style="margin:12px 10px">

    <div class="row">
      <div class="col-md-3">
        <div ng-include="'me/info.html'"></div>
      </div>
      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li ng-class="{'active': !ctrl.is_change_pass()}"><a href data-target="#socialMedias" data-toggle="tab">Redes sociais</a></li>
            <li ng-class="{'active': ctrl.is_change_pass()}"><a href data-target="#changePass" data-toggle="tab">Mudar senha</a></li>
          </ul>
          <div class="tab-content">
            <div ng-class="{'active': !ctrl.is_change_pass()}" class="tab-pane" id="socialMedias" ng-include="'me/social_medias.html'"></div>
            <div ng-class="{'active': ctrl.is_change_pass()}" class="tab-pane" id="changePass" ng-include="'me/change_pass.html'"></div>
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
    </div>
  </section>

</div>
