<div ng-controller="customerCtrl as ctrl">
  <content-header name="Meu perfil" small="Gerenciar Perfil"></content-header>
  <div class="box-body">
    <form name="myForm">
      <div class="col-xs-4">
        <div class="box box-primary">
          <div role="form">
            <div class="box-body">
              <field-icon-left
                id="name"
                label="Nome"
                grid="12"
                placeholder="Informe o Nome"
                model="ctrl.customer.name"
                readonly="false"
                icon="fa fa-user"
                required="true"
              ></field-icon-left>
              <field-icon-left
                id="mail"
                label="E-mail"
                grid="12"
                placeholder="Informe o E-mail"
                model="ctrl.customer.mail"
                readonly="false"
                icon="fa fa fa-envelope-o"
                type='email'
              ></field-icon-left>
              <field-icon-left
                id="password"
                label="Senha"
                grid="12"
                placeholder="Informe a Senha"
                model="ctrl.customer.password"
                readonly="false"
                icon="fa fa-lock"
              ></field-icon-left>
              <field-icon-left
                id="repeat_password"
                label="Repetir a Senha"
                grid="12"
                placeholder="Repetir a Senha"
                model="ctrl.customer.repeat_password"
                readonly="false"
                icon="fa fa-lock"
              ></field-icon-left>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-primary">
          <fieldset>
            <div class="box-footer" style="min-height: 307px;">
              <legend class="txt-upper" style="padding-bottom:4px;">Minha foto</legend>


                <div class="form-group">
                  <label for="exampleInputFile">FOTO</label>
                  <input type="file" id="exampleInputFile">

                  <p class="help-block" style="font-size:11px;">Para uma melhor visualização escolha a fotos com 180px x 180px de dimensão.</p>
                </div>


            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-primary">
          <fieldset>
            <div class="box-footer" style="min-height: 307px;">
              <legend class="txt-upper" style="padding-bottom:4px;">Sobre mim</legend>

            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="box box-primary">
          <div role="form">
            <div class="box-footer">
              <button class="btn btn-primary bt-fac" ng-disabled="myForm.$invalid" ng-click="ctrl.create()">Salvar</button>
              <button class="btn btn-default bt-cancelar" ui-sref="funil">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
