<!-- Modal -->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Motivo de ganhar</h4>
      </div>
      <form name="formWin">
        <div class="modal-body">
          <div class="form-group">
            <label for="nomeInput">Nome</label>
            <input id="nomeInput" type="text" class="form-control" ng-model="ctrl.me.name" required placeholder="Nome">
          </div>
          <div class="form-group">
            <label for="EmailInput">E-mail</label>
            <input id="EmailInput" type="email" class="form-control" ng-model="ctrl.me.email" required placeholder="E-mail">
          </div>
          <div class="form-group">
            <label for="telefoneInput">Telefone</label>
            <input id="telefoneInput" type="text" class="form-control" ng-model="ctrl.me.tel" placeholder="Telefone">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simb" ng-click="ctrl.refresh(true)" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-simb" ng-click="ctrl.save()" ng-disabled="formWin.$invalid" data-dismiss="modal">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
