<div class="form-group" ng-repeat="social_media in ctrl.me.social_medias">
  <div class="input-group mb15">
    <span class="input-group-addon"><i class="fa {{:: social_media.icon }}"></i></span>
    <input type="text" placeholder="{{:: social_media.descricao }}" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="ctrl.me.social_medias[$index].conta">
  </div>
</div>
<button class="btn bt-register" ng-click="ctrl.save()">Atualizar</button>
<button class="btn bt-perder" ng-click="ctrl.refresh()">Cancelar</button>
