<!doctype html><html class="no-js" lang="" ng-app="app"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>SIMB</title><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="shortcut icon" href="assets/favicon.ico"><!-- Place favicon.ico and apple-touch-icon.png in the root directory --><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="assets/css/deps.min.css"><link rel="stylesheet" href="assets/css/app.min.css"></head><body class="skin-blue fixed sidebar-mini sidebar-collapse"><!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--><!-- Add your site or application content here --><div ng-controller="mainCtrl"><div class="login-box" ng-if="isLogin() || !isLogged()"><div ui-view></div></div><div class="wrapper" ng-if="!isLogin() && isLogged()"><header class="main-header" ng-include="'template/header.html'"></header><aside class="main-sidebar" ng-include="'template/menu.html'"></aside><div class="content-wrapper" ui-view></div></div><div id="loader" ng-show="loading() || disconnected"><img src="assets/loader.gif" alt=""></div></div><script src="assets/js/deps.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script><script src="assets/js/app.min.js"></script><!--  <script src='/assets/js/angular.min.js'></script>
        <script src='/assets/js/angular-ui-router.min.js'></script>
        <script src='/assets/js/angular-animate.min.js'></script>
        <script src='/assets/js/angular-toastr.tpls.min.js'></script>
        <script src='/assets/js/jquery-2.2.3.min.js'></script>
        <script src='/assets/js/bootstrap.min.js'></script>
        <script src='/assets/js/jquery.slimscroll.min.js'></script>
        <script src='/assets/js/app.min.js'></script> --><!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. --><script>window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')</script><script src="https://www.google-analytics.com/analytics.js" async defer="defer"></script></body></html>