<div ng-controller="calendarCtrl as ctrl">
  <content-header name="Calendário" small="Adicionar"></content-header>
  <form name="myForm">

    <div class="box-body">

      <div class="col-md-4">

        <div class="box box-default">
          <div class="box-body">
            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
              <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
              <ul class="fc-color-picker" id="color-chooser">
                <li><a class="text-aqua"><i class="fa fa-square"></i></a></li>
                <li><a class="text-blue"><i class="fa fa-square"></i></a></li>
                <li><a class="text-light-blue"><i class="fa fa-square"></i></a></li>
                <li><a class="text-teal"><i class="fa fa-square"></i></a></li>
                <li><a class="text-yellow"><i class="fa fa-square"></i></a></li>
                <li><a class="text-orange"><i class="fa fa-square"></i></a></li>
                <li><a class="text-green"><i class="fa fa-square"></i></a></li>
                <li><a class="text-lime"><i class="fa fa-square"></i></a></li>
                <li><a class="text-red"><i class="fa fa-square"></i></a></li>
                <li><a class="text-purple"><i class="fa fa-square"></i></a></li>
                <li><a class="text-fuchsia"><i class="fa fa-square"></i></a></li>
                <li><a class="text-muted"><i class="fa fa-square"></i></a></li>
                <li><a class="text-navy"><i class="fa fa-square"></i></a></li>
              </ul>
            </div>
            <!-- /btn-group -->
            <div class="form-group">
              <input id="new-event" type="text" class="form-control" ng-model="ctrl.formDataAddSchedule.title" required placeholder="Título do evento">
              <!-- /btn-group -->
            </div>
            <!-- /input-group -->
          </div>
        </div>

        <div class="box box-default">

          <div class="box-body">

            <div class="box-header with-border" ng-show="!ctrl.formDataAddSchedule.all_day">
              <h3 class="box-title" style="color: #000">Início</h3>
            </div>

            <div class="col-sm-12">
              <label class="control-label" for="canal"><b>DATA</b></label>
              <div class="input-group">
                <input type="text" ng-required="!ctrl.formDataAddSchedule.all_day" date-mask="" class="form-control hasDatepicker ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="dd/mm/aaaa" id="datepicker" ng-model="ctrl.formDataAddSchedule.date">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>

            <div class="col-sm-12" ng-show="!ctrl.formDataAddSchedule.all_day">
              <label class="control-label" for="canal"><b>HORA</b></label>
              <div class="input-group mb15">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                <div class="timepicker">
                  <input id="tpBasic" ng-required="!ctrl.formDataAddSchedule.all_day" time-mask="" type="text" class="form-control ui-timepicker-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="00:00" autocomplete="off" ng-model="ctrl.formDataAddSchedule.time">
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="box box-default" ng-show="!ctrl.formDataAddSchedule.all_day">

          <div class="box-body">

            <div class="box-header with-border">
              <h3 class="box-title" style="color: #000">Fim</h3>
            </div>

            <div class="col-sm-12">
              <label class="control-label" for="canal"><b>DATA</b></label>
              <div class="input-group">
                <input type="text" ng-required="!ctrl.formDataAddSchedule.all_day" date-mask="" class="form-control hasDatepicker ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="dd/mm/aaaa" id="datepicker" ng-model="ctrl.formDataAddSchedule.date_end">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>

            <div class="col-sm-12">
              <label class="control-label" for="canal"><b>HORA</b></label>
              <div class="input-group mb15">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                <div class="timepicker">
                  <input id="tpBasic" ng-required="!ctrl.formDataAddSchedule.all_day" time-mask="" type="text" class="form-control ui-timepicker-input ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="00:00" autocomplete="off" ng-model="ctrl.formDataAddSchedule.time_end">
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="col-md-8">

        <div class="box box-default">

          <div class="box-body" style="height:505px">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="ctrl.formDataAddSchedule.all_day">
                      Dia inteiro
                    </label>
                  </div>
                </div>
                <label class="control-label" for="canal"><b>Alertas</b></label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="ctrl.formDataAddSchedule.alert_week_before">
                    Alertar uma semana antes
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="ctrl.formDataAddSchedule.alert_day_before">
                    Alertar um dia antes
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="ctrl.formDataAddSchedule.alert_hour_before">
                    Alertar uma hora antes
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="ctrl.formDataAddSchedule.alert_at_time">
                    Alertar na hora do evento
                  </label>
                </div>
              </div>
            </div>
              <div class="col-sm-8">
                <div class="box-body">
                  <div class="col-sm-12">
                    <label class="control-label" for="canal"><b>ATIVIDADE</b></label>
                    <select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="canal" ng-model="ctrl.formDataAddSchedule.activity">
                      <option value="{{:: schedules_activity.id}}" ng-repeat="schedules_activity in ctrl.schedules_activities" ng-bind=":: schedules_activity.description"></option>
                    </select>
                  </div>
                </div>
                <div class="box-body">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" rows="4" placeholder="Anotações sobre a negocição" ng-model="ctrl.formDataAddSchedule.historic"></textarea>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

      <div class="col-md-12">

        <div class="box box-default">

          <div class="box-body">
            <div class="col-sm-12">
              <button class="btn bt-register" ng-disabled="myForm.$invalid" ng-click="ctrl.save()" ng-bind=" ctrl.formDataAddSchedule.id != 0 ? 'Salvar' : 'Incluir' "></button>
              <button class="btn bt-perder" ng-click="ctrl.cancel()">Cancelar</button>
              <button class="btn bt-perder" ng-if="ctrl.formDataAddSchedule.id != 0" ng-click="ctrl.delete()">Excluir</button>
            </div>
          </div>

        </div>
      </div>


    </div>
  </form>
</div>
