<div ng-controller="calendarCtrl as ctrl">
  <content-header name="Calendário" small="Agenda"></content-header>
  <div class="box-body">
    <div class="col-md-12">
      <div class="box box-default collapsed-box">
        <div class="box-header with-border">
          <div class="col-xs-6">
            <a ui-sref="calendar/add" class="btn btn-primary btn-block" style="width:200px;margin-left:-14px;padding:10px;"><b>Adicionar</b></a>
          </div>
        </div>
      </div>
      <div ui-calendar="ctrl.uiConfig.calendar" ng-model="ctrl.eventSources">
    </div>
  </div>
</div>
