<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script> -->

<div ng-controller="importCtrl">
  <content-header name="Importar clientes" small="{{actual_step}}"></content-header>
  <div class="box-body funil-top">
    <div class="col-xs-12">
      <div class="box box-default collapsed-box">
        <ol class="progress progress--large">
          <li ng-class="{ 'is-active': actual_step == 1, 'is-complete': actual_step > 1, }" data-step="1">
            Seleção
          </li>
          <li ng-class="{ 'is-active': actual_step == 2, 'is-complete': actual_step > 2, }" data-step="2">
            Identificação
          </li>
          <li ng-class="{ 'is-active': actual_step == 3, 'is-complete': actual_step > 3, }" data-step="3">
            Importação
          </li>
          <li ng-class="{ 'is-active': actual_step == 4 }" class="progress__last" data-step="4">
            Concluído
          </li>
        </ol>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="box box-default collapsed-box" ng-show="actual_step == 1">
        <div class="box-header with-border">
          <p>Selecione o arquivo a ser importado</p>
          <div class="col-xs-6">
            <a ng-click="file_upload_click()" class="btn btn-primary btn-block" style="width:200px;margin-left:-14px;padding:10px;"><b>Adicionar oportunidade</b></a>
          </div>
          <input style="display:none" name="file" type="file" id="file_upload" />
          <!-- /.box-tools -->
        </div>
      </div>
    </div>
    <div ng-include="'import/step2.html'" ng-if="actual_step == 2"></div>
    <div ng-include="'import/step3.html'" ng-if="actual_step == 3 || actual_step == 4"></div>
  </div>



</div>
