<div class="col-xs-12">
  <div class="box box-default collapsed-box" ng-show="actual_step == 4">
    <div class="box-header with-border">
      <p>Importar outro arquivo</p>
      <div class="col-xs-6">
        <a ng-click="refresh()" class="btn btn-primary btn-block" style="width:200px;margin-left:-14px;padding:10px;"><b>Voltar ao início</b></a>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="box">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th ng-repeat="title in titles_" ng-bind="title.title"></th>
            <th ng-if="actual_step == 3 || actual_step == 4">Status</th>
          </tr>
          <tr ng-repeat="row in rows_" class="{{rows_[$index].class}}">
            <td ng-repeat="title in titles_">{{row[title.value]}}</td>
            <td ng-if="actual_step == 3 || actual_step == 4">
              <p ng-repeat="row_status in rows_[$index].statuses">{{row_status}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</div>
