<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <p>Selecione o título das colunas</p>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>Identificação na sua tabela</th>
            <th>Identificação no sistema</th>
          </tr>
          <tr ng-repeat="key in obj_keys">
            <td ng-bind="key.table" ></td>
            <td>
              <select class="form-control" ng-model="obj_keys[$index].system" ng-change="reorder()">
                <option value="{{col.value}}" ng-repeat="col in cols" ng-bind="col.title"></option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</div>

<div class="col-xs-12" ng-if="titles_.length > 0 ">
  <div class="box">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th ng-repeat="title in titles_" ng-bind="title.title"></th>
          </tr>
          <tr ng-repeat="row in rows_ | limitTo : 10" class="{{rows_[$index].class}}">
            <td ng-repeat="title in titles_">{{row[title.value]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</div>

<div class="col-xs-12">
  <div class="box box-primary">
    <div role="form">
      <div class="box-footer">
        <button ng-disabled="titles_.length == 0" class="btn btn-primary bt-fac" ng-click="import()">Iniciar</button>
        <button class="btn btn-default bt-cancelar" ng-click="refresh()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
