<!-- Modal -->
<div class="modal fade" id="myModalWin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastar E-mail correto do cliente</h4>
      </div>
      <form name="formMail" ng-submit="ctrl.updateMail(mail)">
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" name="" ng-model="mail.id" value="{{ctrl.customer.id}}">
          </div>
          <div class="form-group">
            <label for="mail">Email</label>
            <input type="email" name="email" ng-model="mail.email" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simb" data-dismiss="modal">Cancelar</button>

          <button
                  type="submit"
                  class="btn btn-primary btn-simb"
                  >
                  Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
