<!-- About Me Box -->
<div class="box box-primary" style="border-top-color: #464f63;background: #464f63;">
  <div class="box-header">
    <h3 class="box-title">Endereços</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <div class="end-desc" ng-repeat="address in ctrl.customer.addresses">
      <strong class="txt-upper" style="color: #cfd7e2 !important;"><i class="fa fa-map-marker margin-r-5"></i> Localização</strong>
      <p class="text-muted" style="color:#5bc0de">
      {{address.endereco}}, {{address.complemento}}, {{address.numero}}. {{address.bairro}}-{{address.cidade}}
      </p>
    </div>

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
