<div ng-controller="customerCtrl as ctrl">
  <section class="content" style="margin:12px 10px">

    <div class="row">
      <div class="col-md-3">
        <div ng-include="'customers/info.html'"></div>
        <div ng-include="'customers/tels.html'"></div>
        <div ng-include="'customers/addresses.html'"></div>
        <div ng-include="'customers/social.html'"></div>
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href data-target="#observations" data-toggle="tab">Perfil Social</a></li>
            <li><a href data-target="#mosaic" data-toggle="tab" ng-if="ctrl.customer.mosaic_id != '0'">Perfil de Mercado</a></li>
            <li><a href data-target="#timeline" data-toggle="tab">Histórico</a></li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane" id="observations" ng-include="'customers/observations.html'"></div>
            <div class="tab-pane" id="mosaic" ng-if="ctrl.customer.mosaic_id != '0'" ng-include="ctrl.mosaic_url" style="margin:auto;"></div>
            <div class="tab-pane" id="timeline" ng-include="'customers/timeline.html'"></div>
            <!-- /.tab-content -->
          </div>
        <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.row -->
  </section>
</div>
