<div ng-controller="customerCtrl as ctrl">
  <content-header name="Adicionar" small="Contatos"></content-header>
  <div class="box-body">
    <form name="myForm">
      <div class="col-xs-4">
        <div class="box box-primary">
          <div role="form">
            <div class="box-body">
              <field-icon-left
                id="name"
                label="Nome"
                grid="12"
                placeholder="Informe o Nome"
                model="ctrl.customer.name"
                readonly="false"
                icon="fa fa-user"
                required="true"
              ></field-icon-left>
              <field-icon-left
                id="mail"
                label="E-mail"
                grid="12"
                placeholder="Informe o E-mail"
                model="ctrl.customer.mail"
                readonly="false"
                icon="fa fa fa-envelope-o"
                type='email'
              ></field-icon-left>
              <field-icon-left
                id="cpf"
                label="CPF"
                grid="12"
                placeholder="Informe o CPF"
                model="ctrl.customer.cpf"
                readonly="false"
                icon="fa fa-id-card"
              ></field-icon-left>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-primary">
          <fieldset>
            <div class="box-footer" style="min-height: 236px;">
              <legend class="txt-upper" style="padding-bottom:4px;">Cadastro de Telefones</legend>
              <div ng-include="'funil/telList.html'"></div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="box box-primary">
          <fieldset>
            <div class="box-footer" style="min-height: 236px;">
              <legend class="txt-upper" style="padding-bottom:4px;">Cadastro de Observações</legend>
              <div ng-include="'funil/observationsList.html'"></div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="box box-primary">
          <div role="form">
            <div class="box-footer">
              <button class="btn btn-primary bt-fac" ng-disabled="myForm.$invalid" ng-click="ctrl.create()">Incluir</button>
              <button class="btn btn-default bt-cancelar" ui-sref="funil">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
