<!-- Profile Image -->
<div class="box box-primary" style="border-top-color: #464f63;background: #464f63;">
  <div class="box-body box-profile">
    <img class="profile-user-img img-responsive img-circle" src="{{:: ctrl.customer.photo }}" alt="User profile picture">

    <h3 class="profile-username text-center" ng-bind=":: ctrl.customer.name"></h3>

    <p class="text-muted text-center" ng-bind=":: ctrl.customer.carrer"></p>

    <ul class="list-group list-group-unbordered">
      <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;" ng-if="ctrl.customer.bday != '00/00/0000'">
        <b>Data de nascimento</b> <span class="pull-right" style="color:#5bc0de" ng-bind=":: ctrl.customer.bday"></span>
      </li>
      <li
          class="list-group-item txt-upper"
          style="color:#cfd7e2 !important;"
          ng-if="ctrl.customer.email != ''">
            <b>E-mail</b>
              <span
                  class="pull-right"
                  style="color:#5bc0de"
                  ng-bind=":: ctrl.customer.email">
              </span>


                <a
                  class="btn btn-success"
                  data-toggle="modal"
                  data-target="#myModalWin">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <div ng-include="'customers/modals/email-modal.html'"></div>

      </li>
      <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;" ng-if="ctrl.customer.renda_estimada != ''">
        <b>Faixa salarial</b> <span class="pull-right" style="color:#5bc0de" ng-bind="ctrl.customer.renda_estimada | estimatedIncome"></span>
      </li>
      <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;" ng-if="ctrl.customer.origin != ''">
        <b>Origem</b> <span class="pull-right" style="color:#5bc0de" ng-bind=":: ctrl.customer.origin"></span>
      </li>
      <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;" ng-if="ctrl.customer.researcher != ''">
        <b>Pesquisador</b> <span class="pull-right" style="color:#5bc0de" ng-bind=":: ctrl.customer.researcher"></span>
      </li>
      <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;">
        <b>Risco</b> <span class="pull-right" style="color:#5bc0de" ng-bind=":: ctrl.customer.risco"></span>
      </li>
    </ul>

    <!-- <a style="width:98%; margin-bottom:5px;background-color:#ecf0f5;" data-toggle="tooltip" data-placement="top" title="Iniciar enriquecimento" href="#!/enrich/{{:: ctrl.customer.id}}" class="btn btn-default">
      <span class="fa fa-grav"></span>
      Enriquecimento
      </a> -->
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
