<div class="ng-scope">
  <div class="row">
    <div class="col-md-12">
      <div class="row" style="margin:0px;">
        <div class="col-md-12">
          <div class="box box-default collapsed-box box-solid">
            <div class="box-header with-border" data-widget="collapse">
              <h3 class="box-title">Produtos</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="folder-list">
                <li ng-repeat="product in ctrl.products" data-widget="collapse">
                  <a ng-click="ctrl.setProduct(product)" target="_blank">
                    <i class="fa fa-folder-open"></i>
                    {{:: product.descricao }}
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <center>
        <img src="{{ ctrl.actualProduct.image }}" style="margin:10px -23px -10px 0">
        <!-- <div class="pull-right" style="float:right"><a href="#interesse_compra" data-toggle="tab"><button class="btn btn-success btn-stroke btn-icon"><i class="fa fa-refresh"></i></button></a></div> -->
      </center>
      <p style="margin: 0 10px;text-align:justify;color:#464f63" ng-bind="ctrl.actualProduct.description"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="panel-title mb5 txt-upper" style="margin:20px 10px;" ng-if="ctrl.files.length > 0">Galeria de Imagens e Materiais do produto</h4>
      <div class="row" style="margin:0px;" ng-repeat="filePerCategory in ctrl.categoriesToFilter() | filter:ctrl.filterCategories">
        <div class="col-md-12">
          <div class="box box-default collapsed-box box-solid">
            <div class="box-header with-border" data-widget="collapse">
              <h3 class="box-title">{{ filePerCategory.category }}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               <ul class="folder-list">
                <li ng-repeat="file in ctrl.files | filter:{category: filePerCategory.category}">
                  <a href="{{ file.file }}" target="_blank">
                    <i class="fa fa-folder-open"></i>
                    {{ file.name }}
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

      </div>
      <div class="row" ng-if=" ctrl.maps_url != '' && ctrl.maps_url != undefined ">
        <div class="col-md-12">
          <h4 class="panel-title mb5 txt-upper" style="margin:20px 15px;">LOCALIZAÇÃO</h4>
            <div class="panel panel-map-location">
              <div id="mapApple" class="map-wrapper" style="margin:0px 15px 20px;">
                <iframe ng-src="{{ ctrl.maps_url }}" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen=""></iframe>
              </div>
            </div><!-- panel -->
        </div><!-- col-md-12 -->
      </div><!-- row -->
    </div>
  </div>
</div>
