<div ng-controller="customerCtrl as ctrl" class="lista_contatos">
  <content-header name="Lista" small="Contatos"></content-header>
  <div class="box-body">
    <div class="col-md-12" ng-include="'customers/filtros.html'"></div>
  </div>

  <div class="box-body">
    <div class="col-md-3" ng-repeat="customer in ctrl.customers | filter: ctrl.search | limitTo: ctrl.pageSize : ((ctrl.currentPage - 1) * ctrl.pageSize)">
      <!-- Profile Image -->
      <div class="box box-primary" style="border-top-color: #464f63;background: #464f63">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{:: customer.photo }}" alt="User profile picture">

          <h3 class="profile-username text-center" ng-bind=":: customer.name"></h3>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item txt-upper" style="color:#cfd7e2 !important;" ng-if="customer.bday != '00/00/0000'">
              <b>Último contato</b> <span class="pull-right" style="color:#5bc0de" ng-bind=":: customer.last_contact"></span>
            </li>
          </ul>

          <div class="col-xs-12">
            <div class="btn-group pull-right" role="group" style="width:100%;">
            <center>

              <a style="width:98%; margin-bottom:5px;" data-toggle="tooltip" data-placement="top" title="Visualizar perfil" href="#!/contacts/{{:: customer.id}}" class="btn btn-default">
                <span class="fa fa-eye"></span>
                 Visualizar Perfil

              </a>

              <a style="width:98%; margin-bottom:5px;background-color:#ecf0f5;" data-toggle="tooltip" data-placement="top" title="Iniciar relacionamento" ng-click="ctrl.new_negociation(customer)" class="btn btn-default"><span class="fa fa-comments"></span> Iniciar relacionamento</a>



              <a style="width:98%; margin-bottom:5px;background-color:#ecf0f5;" data-toggle="tooltip" data-placement="top" title="Iniciar enriquecimento" href="#!/enrichiement/{{:: customer.id}}" class="btn btn-default">
                <span class="fa fa-grav"></span>
                Enriquecer
                </a>

            </center>
            </div>
          </div>

          <!-- <center>
            <div style="position:absolute;bottom:0;width:100%;margin-bottom: -18px;">
              <a data-toggle="tooltip" data-placement="top" title="Excluir" ng-click="ctrl.delete_negociation(customer)" class="btn btn-danger" style="border-radius: 80px;border:4px solid #ecf0f5">
                <span class="fa fa-trash" style="font-size:20px;padding: 10px 12px"></span>
              </a>
            </div>
          </center> -->

        </div>

        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

</div>
