

<div class="row obs" style="margin:10px 0px">
  <div class="col-lg-3 col-xs-6" ng-repeat="interest in ctrl.customer.interests">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3 ng-bind=":: interest.description"></h3>
      </div>
      <div class="icon">
        <i class="fa fa-street-view"></i>
      </div>
      <a class="small-box-footer txt-upper">
        rede social
      </a>
    </div>
  </div>
  <!-- ./col -->
</div>
<center>
<div class="txt-upper tit-obs">
  Observações interpretadas a partir de fontes de dados públicos
</div>
</center>

<div class="post clearfix obs-post"><div class="post clearfix" ng-repeat="observation in ctrl.customer.observations">
  <div class="user-block">
    <img class="img-circle img-bordered-sm" src="{{:: observation.agent_photo}}" alt="User Image">
        <span class="username">
          <a ng-bind=":: observation.agent_name"></a>
        </span>
    <span class="description" ng-bind=":: observation.created_at"></span>
  </div>
  <!-- /.user-block -->
  <p ng-bind=":: observation.value"></p>
</div>
<!-- Post -->



