<!-- About Me Box -->
<div class="box box-primary" style="border-top-color: #464f63;background: #464f63;" ng-if="ctrl.customer.social_medias.length > 0">
  <div class="box-header">
    <h3 class="box-title">Redes Sociais</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul class="list-inline profile-social" style="width:100%;text-align:center">
      <li class="ng-scope" target="_blank" ng-repeat="social_media in ctrl.customer.social_medias">
        <a href="{{:: social_media.url }}/{{:: social_media.conta }}" target="_blank">
          <i class="fa {{:: social_media.icon }}"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
</div>
  <!-- /.box -->
