<!-- Profile Image -->
<div class="box box-primary" style="border-top-color: #464f63;background: #464f63;">
  <div class="box-header">
    <h3 class="box-title">Telefones</h3>
  </div>
  <div class="box-body box-profile">
    <ul class="list-group list-group-unbordered">
      <li class="list-group-item" ng-repeat="tel in ctrl.customer.tels" ng-if="tel.status == '0' || tel.status == '1'">
        <div class="btn-group">
          <select class="form-control" ng-model="tel.status" ng-change="ctrl.setTelStatus(tel)">
            <option value="0">Status do Telefone</option>
            <option value="1">Correto</option>
            <option value="2">Não atende</option>
            <option value="3">Não pertence mais a ele</option>
            <option value="4">Não existe</option>
          </select>
        </div>
        <span class="pull-right tel-item" ng-bind=":: tel.value"></span>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
