<!-- The timeline -->
<ul class="timeline timeline-inverse">
  <li ng-class="{'time-label': history.description == ''}" ng-repeat="history in ctrl.negociation.histories | orderBy : date_to_int">
    <!-- timeline time label -->
    <span class="bg-red time-bg" ng-bind=":: history.date" ng-if="history.description == ''"></span>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <i class="fa fa-envelope bg-blue"  ng-if="history.description != ''"></i>
    <div class="timeline-item"  ng-if="history.description != ''">
      <span class="time"><i class="fa fa-clock-o"></i> {{:: history.time }}</span>

      <h3 class="timeline-header" ng-bind=":: history.agent"></h3>

      <div class="timeline-body" ng-bind=":: history.description"></div>
      <div class="timeline-footer"></div>
    </div>
  </li>
  <!-- END timeline item -->

  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>
</ul>
