<!--BEGIN A01-->
<div>
  <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaA1.jpg') no-repeat center;">
    <div class="headerContent">
      <h1><span>Elites</span> Brasileiras</h1>
      <p>Empresários e executivos bem-sucedidos, vivem os confortos permitidos pela alta renda: automóveis de luxo, viagens internacionais, restaurantes e produtos exclusivos. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">A01</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
      <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Ricos e Influentes</div>
      <p>
        Empresários e executivos dos setores privado e público, maduros e bem-sucedidos.
      </p>
      <p>
        <strong>Características Principais</strong>
        <ul>
          <li style="text-align:left;font-size:13px;">Empresários</li>
          <li style="text-align:left;font-size:13px;">Funcionários de alto escalão</li>
          <li style="text-align:left;font-size:13px;">Adultos</li>
          <li style="text-align:left;font-size:13px;">Alta renda</li>
          <li style="text-align:left;font-size:13px;">Consumidores exclusivos</li>
          <li style="text-align:left;font-size:13px;">Bairros de alto padrão</li>
          <li style="text-align:left;font-size:13px;">Escolarizados</li>
          <li style="text-align:left;font-size:13px;">Influentes</li>
          <li style="text-align:left;font-size:13px;">Formadores de opinião</li>
          <li style="text-align:left;font-size:13px;">Bem-sucedidos</li>
          <li style="text-align:left;font-size:13px;">Visão Geral</li>
        </ul>
      </p>
      <p>
        São representantes paradigmáticos da elite brasileira.
      </p>
      <p>
        Pessoas muito bem-escolarizadas que vivem nas áreas mais nobres e influentes do País, sobretudo nas capitais e regiões metropolitanas. Possuem apartamentos e carros de luxo e conseguem manter vários confortos, como empregados domésticos.
      </p>
      <p>
        São consumidores exclusivos que gostam de grifes e frequentam os melhores e mais caros espaços de suas cidades, como restaurantes, shopping centers, casas de shows, teatros, entre outros. A passeio ou a trabalho, constantemente realizam viagens nacionais e internacionais.
      </p>
      <p>
        Em suas vidas profissionais, em geral tiveram sucesso ao mesclar tradição com ousadia. Mas em outras dimensões de suas vidas, sobretudo política e educação, costumam ser um pouco conservadores.
      </p>
    </div>
  </div>
</div>
<!--END A01-->
