<!--BEGIN A02-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaA1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Elites</span> Brasileiras</h1>
        <p>Empresários e executivos bem-sucedidos, vivem os confortos permitidos pela alta renda: automóveis de luxo, viagens internacionais, restaurantes e produtos exclusivos. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">A02</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Elite Urbana Qualificada</div>
          <p>Moradores de grandes  centros urbanos, bem remunerados e estabelecidos em função da alta escolaridade.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Adultos e maduros</li>
            <li style="text-align:left;font-size:13px;">Altamente qualificados</li>
            <li style="text-align:left;font-size:13px;">Altíssima  escolaridade</li>
            <li style="text-align:left;font-size:13px;">Grandes cidades</li>
            <li style="text-align:left;font-size:13px;">Parcela de  pequenos empresários</li>
            <li style="text-align:left;font-size:13px;">Acesso a  bens de consumo e serviços</li>
            <li style="text-align:left;font-size:13px;">Organizados  financeiramente</li>
            <li style="text-align:left;font-size:13px;">Estabelecidos</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            Pessoas de acima de 30  anos, mais concentradas na faixa dos 36 aos 70 anos.</p>
          <p>Compõem a elite  instruída do País. A maioria teve acesso à educação superior de qualidade, o  que lhe permitiu alcançar ocupações profissionais importantes e rentáveis. Vivem  nas grandes cidades, em especial nas regiões Sudeste e Sul, em bairros bastante  valorizados. Em geral, moram em apartamentos de alto padrão. </p>
          <p>A boa renda e o tipo  de trabalho desempenhado permitem que essas pessoas desfrutem de um bom padrão  de vida. Podem realizar viagens nacionais e internacionais com alguma  frequência, costumam ir a bons restaurantes e têm acesso à vida cultural das  grandes cidades.</p>
      </div>
    </div>
  </div>
  <!--END A02-->
