  <!--BEGIN B03-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaB1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Experientes</span> Urbanos de Vida Confortável</h1>
        <p>Com mais de 50 anos, são profissionais bem estabelecidos ou já aposentados. Usufruem agora do padrão de vida confortável conquistado com o trabalho. Moram em áreas urbanas, com destaque para o litoral. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">B03</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Idosos Tradicionais de Alto Padrão</div>
          <p>Maioria acima de 60  anos, que vive confortavelmente em áreas de prestígio da zona urbana, em  especial, litorânea.<strong></strong></p>
                  <p><strong>Características Principais</strong></p>
                  <ul>
                    <li style="text-align:left;font-size:13px;">Acima de  60 anos</li>
                    <li style="text-align:left;font-size:13px;">Urbanos</li>
                    <li style="text-align:left;font-size:13px;">Casados e viúvos</li>
                    <li style="text-align:left;font-size:13px;">Trabalhadores  da iniciativa privada</li>
                    <li style="text-align:left;font-size:13px;">Aposentados</li>
                    <li style="text-align:left;font-size:13px;">Escolaridade  alta</li>
                    <li style="text-align:left;font-size:13px;">Litoral</li>
                  </ul><br/>
                  <p><strong>Visão Geral</strong><br>
                    São, majoritariamente,  idosos no fim da carreira profissional ou já aposentados. Possuem excelente  renda e vivem em áreas ricas das regiões metropolitanas do País, com destaque  para grandes cidades litorâneas, como Santos, Rio de Janeiro ou Florianópolis. </p>
                  <p>Têm alta escolaridade,  principalmente levando-se em conta a dificuldade de acesso à educação na época  em que eram jovens. Grande parcela possui, inclusive, ensino superior completo.  Dessa forma, conquistaram uma carreira profissional de sucesso e, em muitos  casos, uma boa aposentadoria.</p>
                  <p>São pessoas ativas,  que aproveitam a estabilidade financeira para desfrutar de mais qualidade de  vida. É o caso das caminhadas à beira-mar, momento em que mesclam lazer e  cuidados com a saúde.</p>
      </div>
    </div>
  </div>
  <!--END B03-->
