  <!--BEGIN B04-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaB1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Experientes</span> Urbanos de Vida Confortável</h1>
        <p>Com mais de 50 anos, são profissionais bem estabelecidos ou já aposentados. Usufruem agora do padrão de vida confortável conquistado com o trabalho. Moram em áreas urbanas, com destaque para o litoral. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">B04</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">A Caminho da Aposentadoria nas Melhores Cidades</div>
          <p>Maioria acima de 50  anos, perto da aposentadoria, com boa renda, vivendo nas grandes capitais e  cidades do interior do Sudeste e Sul.</p>
                  <p><strong>Características Principais</strong></p>
                  <ul>
                    <li style="text-align:left;font-size:13px;">Maioria  acima de 50 anos</li>
                    <li style="text-align:left;font-size:13px;">Urbanos</li>
                    <li style="text-align:left;font-size:13px;">Casados e  viúvos</li>
                    <li style="text-align:left;font-size:13px;">Trabalhadores  da iniciativa privada</li>
                    <li style="text-align:left;font-size:13px;">Aposentados</li>
                    <li style="text-align:left;font-size:13px;">Escolaridade  média</li>
                    <li style="text-align:left;font-size:13px;">Interior</li>
                  </ul><br/>
                  <p><strong>Visão Geral</strong><br>
                  São aposentados ou pessoas  a caminho de uma aposentadoria confortável. A maioria tem idade acima de 50  anos, com maior presença de mulheres. </p>
                  <p>A maioria  apresenta nível médio de escolaridade, o que lhes garante uma boa renda. São,  geralmente, funcionários de empresas privadas. Além da renda fixa, proveniente  de muitos anos de trabalho, contam com a possibilidade de continuarem  trabalhando após a aposentadoria. </p>
                  <p>Vivem com suas famílias,  em geral com 2 ou 3 moradores na casa e, é possível encontrar pessoas que estejam  em um segundo casamento. Moram em áreas de classe média-alta de capitais,  regiões metropolitanas e cidades ricas do interior, em especial nas regiões  Sudeste e Sul. Além da renda, contam também com a boa estrutura das regiões  onde vivem, como centros comerciais, hospitais e parques.</p>
      </div>
    </div>
  </div>
  <!--END B04-->

