   <!--BEGIN B05-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaB1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Experientes</span> Urbanos de Vida Confortável</h1>
        <p>Com mais de 50 anos, são profissionais bem estabelecidos ou já aposentados. Usufruem agora do padrão de vida confortável conquistado com o trabalho. Moram em áreas urbanas, com destaque para o litoral. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">B05</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Assalariados de Meia-idade das Grandes Cidades</div>
         <p>Maioria acima de 40  anos, moradores urbanos, com renda média e grande concentração nas grandes  cidades.</p>
                  <p><strong>Características Principais</strong></p>
                  <ul>
                    <li style="text-align:left;font-size:13px;">Maioria  acima de 40 anos</li>
                    <li style="text-align:left;font-size:13px;">Urbanos</li>
                    <li style="text-align:left;font-size:13px;">Casados</li>
                    <li style="text-align:left;font-size:13px;">Homens</li>
                    <li style="text-align:left;font-size:13px;">Endereço  fixo há muito tempo</li>
                    <li style="text-align:left;font-size:13px;">Família  estendida</li>
                    <li style="text-align:left;font-size:13px;">Tradicionais</li>
                    <li style="text-align:left;font-size:13px;">Habitam  domicílios antigos</li>
                    <li style="text-align:left;font-size:13px;">Funcionários  de empresas privadas</li>
                    <li style="text-align:left;font-size:13px;">Classe média</li>
                  </ul><br/>
                  <p><strong>Visão Geral</strong><br>
                    Em geral, são homens chefes  de família, conservadores e tradicionais em seus valores familiares. Em sua  maioria, com mais de 40 anos e trabalhadores da iniciativa privada em cargos  médios. Apesar da baixa escolaridade, adquiriram certa estabilidade financeira  devido ao tempo de carreira. Ainda assim, vivem equilibrando as contas todos os  meses, sem muita perspectiva de futuro, apesar de terem melhorado de vida nos  últimos anos.</p>
                  <p>Vivem em áreas de  classe média-baixa de capitais e regiões metropolitanas. Têm acesso a serviços  básicos, porém com opções limitadas de lazer e espaço público.</p>
                  <p>Seus filhos já estão  crescidos e batalham para fazer uma faculdade à noite, já que trabalham desde  cedo. Isso é fonte de esperança, já que eles mesmos não conseguiram o tão sonhado  diploma.</p>
      </div>
    </div>
  </div>
  <!--END B05-->

