  <!--BEGIN C06-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaC1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Juventude</span> Trabalhadora Urbana</h1>
        <p>Com até 35, são jovens em início de carreira, mas ainda buscando aumentar sua escolaridade, que já é superior à dos pais. São otimistas e antenados, com acesso à tecnologia e de olho nas tendências. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">C06</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Construindo uma Carreira Promissora</div>
         <p> Jovens profissionais,  solteiros, com origem na elite, boa escolaridade e futuro promissor.</p>
                  <p><strong>Características Principais</strong></p>
                  <ul>
                    <li style="text-align:left;font-size:13px;">Jovens  profissionais </li>
                    <li style="text-align:left;font-size:13px;">7 em cada  10 com menos de 35 anos</li>
                    <li style="text-align:left;font-size:13px;">Boa  escolaridade</li>
                    <li style="text-align:left;font-size:13px;">Promissores</li>
                    <li style="text-align:left;font-size:13px;">7 em cada  10 são solteiros</li>
                    <li style="text-align:left;font-size:13px;">Moram em  bons bairros</li>
                    <li style="text-align:left;font-size:13px;">Filhos da  elite</li>
                    <li style="text-align:left;font-size:13px;">Vivem  sobretudo em apartamentos</li>
                    <li style="text-align:left;font-size:13px;">Sonhos de  futuro</li>
                  </ul><br/>
                  <p><strong>Visão Geral</strong><br>
                    Filhos de famílias de  alta renda, puderam começar suas vidas de forma mais confortável. O acesso a  uma boa educação permitiu um início de carreira mais vantajoso e promissor. Assim,  despontam como a futura elite do País. </p>
                  <p>Moram em apartamentos,  em áreas urbanas de alto padrão. A maioria é solteira e alguns já moram  sozinhos. Gostam de se divertir, viajam sempre que podem e aproveitam  oportunidades de lazer, como cinemas, baladas e bares. Também apreciam  consumir, em especial roupas e artigos eletrônicos. </p>
                  <p>Apesar de uma boa  renda pessoal, têm um padrão de vida acima desse patamar. Como não precisam ajudar  em casa, seus ganhos são exclusivamente para usufruto próprio. Isso não  significa, entretanto, que todo o dinheiro ganho seja usado no consumo: costumam  poupar, pensando no futuro. </p>
      </div>
    </div>
  </div>
  <!--END C06-->

