  <!--BEGIN C07-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaC1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Juventude</span> Trabalhadora Urbana</h1>
        <p>Com até 35, são jovens em início de carreira, mas ainda buscando aumentar sua escolaridade, que já é superior à dos pais. São otimistas e antenados, com acesso à tecnologia e de olho nas tendências. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">C07</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Jovens Dependentes do Interior</div>
          <p>Jovens das cidades do  interior, que ainda moram com parentes, buscando independência financeira  através do trabalho.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Urbanos</li>
            <li style="text-align:left;font-size:13px;">Maioria 26  e 35 anos</li>
            <li style="text-align:left;font-size:13px;">Grande  parte fora das capitais</li>
            <li style="text-align:left;font-size:13px;">Alta  concentração no Estado de São Paulo</li>
            <li style="text-align:left;font-size:13px;">Escolaridade  média</li>
            <li style="text-align:left;font-size:13px;">Residem  com os pais</li>
            <li style="text-align:left;font-size:13px;">Solteiros</li>
            <li style="text-align:left;font-size:13px;">Renda  média</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            Têm, na sua maioria, entre  26 a 35 anos e moram em áreas urbanas fora das capitais ou regiões  metropolitanas. Embora tenham começado a trabalhar cedo, de certa forma ainda  estão no início de suas carreiras profissionais. Possuem renda relativamente  modesta, porém potencializada pelo menor custo de vida de suas regiões.</p>
          <p>A maior parte ainda  mora com os pais ou parentes e, assim, podem investir em si mesmos,  principalmente nos estudos. A vida é menos “corrida” que nas grandes cidades, mas  costumam aproveitar bares, baladas e cinema. Roupas e eletrônicos são  valorizados, ainda que não sejam sempre de última geração. São mais comuns as  viagens de fim de semana ou férias no País programadas com antecedência. </p>
          <p>Sonham com uma melhora  de renda para que, em um futuro próximo, possam sair da casa dos pais.</p>
      </div>
    </div>
  </div>
  <!--END C07-->

