  <!--BEGIN C08-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaC1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Juventude</span> Trabalhadora Urbana</h1>
        <p>Com até 35, são jovens em início de carreira, mas ainda buscando aumentar sua escolaridade, que já é superior à dos pais. São otimistas e antenados, com acesso à tecnologia e de olho nas tendências. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">C08</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Jovens Protagonistas da Classe Média</div>
          <p>Muito jovens,  moradores de grandes cidades, começando a trabalhar, com renda modesta e  escolaridade maior que a dos pais.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Muito  jovens</li>
            <li style="text-align:left;font-size:13px;">8 em cada  10 com menos de 25 anos</li>
            <li style="text-align:left;font-size:13px;">Solteiros</li>
            <li style="text-align:left;font-size:13px;">Escolaridade  alta para a origem familiar</li>
            <li style="text-align:left;font-size:13px;">Conectados  à internet</li>
            <li style="text-align:left;font-size:13px;">Renda  individual modesta</li>
            <li style="text-align:left;font-size:13px;">Renda  familiar média</li>
            <li style="text-align:left;font-size:13px;">Filhos da  classe média</li>
            <li style="text-align:left;font-size:13px;">Maioria  vive em região metropolitana</li>
            <li style="text-align:left;font-size:13px;">Vivem com  parentes</li>
            <li style="text-align:left;font-size:13px;">Começando  a trabalhar</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            Com até 25 anos, são  os filhos da classe média brasileira que ascendeu nos últimos anos.  Diferentemente de seus pais, a grande maioria conseguiu completar o ensino médio  sem precisar trabalhar ao mesmo tempo. </p>
          <p>Estão no início de  suas carreiras profissionais e ocupam cargos medianos ou baixos, mas pretendem  continuar os estudos e cursar a universidade – sonho absoluto de seus pais. </p>
          <p>Como são os  “protagonistas” da família, é comum serem responsáveis por pequenos  investimentos no lar, como conexão à internet ou TV por assinatura. Seus  salários são direcionados principalmente para a universidade e gastos próprios,  como roupas e lazer. Solteiros, comunicativos, costumam ter um círculo de amizade  ampliado e realizam muitas atividades de lazer, geralmente mais voltadas para  espaços privados.</p>
      </div>
    </div>
  </div>
  <!--END C08-->

