  <!--BEGIN D09-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaD1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Jovens</span> da Periferia</h1>
        <p>As limitações no acesso à educação e à infraestrutura dos bairros onde moram tornam mais difícil a rotina desses jovens. Porém, viram a vida melhorar e acreditam em um futuro melhor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">D09</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Seguindo a Vida na Periferia</div>
          <p>Nascidos e criados em  zonas periféricas urbanas, com escolaridade mediana e renda modesta.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Criados em  zonas periféricas</li>
            <li style="text-align:left;font-size:13px;">Mais mulheres  chefes de família</li>
            <li style="text-align:left;font-size:13px;">Ensino médio</li>
            <li style="text-align:left;font-size:13px;">Maioria  com idade de 26 a 45 anos</li>
            <li style="text-align:left;font-size:13px;">Alguns  casados</li>
            <li style="text-align:left;font-size:13px;">Vida  modesta</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            Jovens adultos,  principalmente na faixa dos 26 aos 45 anos, moradores de grandes cidades,  vivendo em zonas muito distantes do centro. Em geral, vivem com suas famílias  estendidas e, em muitos casos, essas famílias são chefiadas por mulheres.  Apesar de muitos possuírem escolaridade média, isso não significa que tenham  garantia de boas ocupações; suas rendas são bem modestas. </p>
          <p>Sofrem com a falta de  opção de lazer público nos bairros em que vivem e acabam realizando a maioria  das atividades dentro do espaço doméstico. Por isso, investem em televisores  mais modernos, vídeo games e em pacotes mais simples de TV por assinatura. </p>
          <p>Mesmo com a dura  rotina de trabalho, seja dentro ou fora de casa, sonham com empregos melhores e  renda um pouco maior. </p>
      </div>
    </div>
  </div>
  <!--END D09-->


