 <!--BEGIN D10-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaD1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Jovens</span> da Periferia</h1>
        <p>As limitações no acesso à educação e à infraestrutura dos bairros onde moram tornam mais difícil a rotina desses jovens. Porém, viram a vida melhorar e acreditam em um futuro melhor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">D10</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">No Coração da Periferia</div>
          <p>Jovens urbanos,  solteiros, filhos de pais com baixa renda e moradores de locais menos  favorecidos nas grandes cidades.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Jovens,  maioria até 35 anos</li>
            <li style="text-align:left;font-size:13px;">Filhos de  pais com baixa renda</li>
            <li style="text-align:left;font-size:13px;">Baixa  escolaridade</li>
            <li style="text-align:left;font-size:13px;">Moradores  de capitais ou regiões metropolitanas</li>
            <li style="text-align:left;font-size:13px;">Solteiros</li>
            <li style="text-align:left;font-size:13px;">Vivem em  zonas periféricas</li>
          </ul><br>
          <p><strong>Visão Geral</strong><br>
            São jovens moradores  de zonas periféricas urbanas com baixa escolaridade. Em geral, nasceram nas  periferias e seus pais já viviam com renda mais baixa. Cerca de metade possui  apenas o ensino fundamental. Dessa forma, são aptos a postos de trabalho de  menor remuneração ou informais.</p>
          <p>Em geral solteiros,  muitos vivem em locais compartilhados de residência: uma mesma família  dividindo uma casa cujos cômodos são separados ou em terrenos com mais de uma  casa construída.</p>
          <p>Moram em bairros com  poucas opções de lazer. Mesmo assim é comum encontrarmos campos de futebol de  várzea, direcionados sobretudo aos homens. Para as mulheres, o lazer pode ser o  café com a vizinha ou a ida esporádica ao salão de beleza local. Em sua maioria,  são consumidores do comércio de rua e não são frequentadores assíduos de  shoppings.</p>
      </div>
    </div>
  </div>
  <!--END D10-->


