  <!--BEGIN D11-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaD1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Jovens</span> da Periferia</h1>
        <p>As limitações no acesso à educação e à infraestrutura dos bairros onde moram tornam mais difícil a rotina desses jovens. Porém, viram a vida melhorar e acreditam em um futuro melhor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">D11</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Novos Moradores da Comunidade</div>
          <p>Jovens solteiros, em  geral moradores de comunidades às quais chegaram recentemente, moram sozinhos e  vivem apenas com suas rendas.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Solteiros</li>
            <li style="text-align:left;font-size:13px;">8 em cada  10 têm até 30 anos</li>
            <li style="text-align:left;font-size:13px;">Escolaridade  baixa</li>
            <li style="text-align:left;font-size:13px;">Moradores  de comunidades</li>
            <li style="text-align:left;font-size:13px;">Mais  mulheres </li>
            <li style="text-align:left;font-size:13px;">Regiões  metropolitanas</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            Ainda muito jovens,  com menos de 30 anos, já moram sem a família em áreas extremamente periféricas,  em geral comunidades fora das capitais. Muitos deles chegaram recentemente a  essas áreas, sendo que parte vem do interior de estados mais pobres buscando  melhores oportunidades em centros urbanos. Há maior presença de mulheres. Uma  parte pequena, mas significativa, participa de programas sociais do governo.</p>
          <p>São pessoas que levam  a vida com dificuldades, com renda apertada e gastos que devem ser devidamente  controlados. O orçamento não tem “folga” e qualquer imprevisto pode provocar um  desequilíbrio financeiro. Por outro lado, muitos têm pequenos negócios  informais e apostam nisso para melhorar suas condições.</p>
      </div>
    </div>
  </div>
  <!--END D11-->


