  <!--BEGIN D12-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaD1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Jovens</span> da Periferia</h1>
        <p>As limitações no acesso à educação e à infraestrutura dos bairros onde moram tornam mais difícil a rotina desses jovens. Porém, viram a vida melhorar e acreditam em um futuro melhor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">D12</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Trabalhadores Vizinhos da Grande Cidade</div>
          <p>Jovens com baixa  qualificação profissional, mas que apresentam melhor condição de vida por  morarem no entorno dos grandes centros urbanos.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Maioria de  jovens entre 21 e 35 anos</li>
            <li style="text-align:left;font-size:13px;">Muitos  solteiros</li>
            <li style="text-align:left;font-size:13px;">Residindo  em casas</li>
            <li style="text-align:left;font-size:13px;">Cidades  menores da região metropolitana</li>
            <li style="text-align:left;font-size:13px;">Baixa  qualificação profissional</li>
            <li style="text-align:left;font-size:13px;">Renda  mediana</li>
          </ul>
          <p><strong>Visão Geral</strong><br>
            São jovens e adultos,  em geral solteiros. Trabalhadores de menor qualificação e baixa remuneração que,  por morarem em cidades fora dos grandes centros urbanos (capitais e regiões  metropolitanas), apresentam condições de vida relativamente melhores do que a  renda inicialmente sugeriria. </p>
          <p>Têm risco de crédito elevado,  mas vivem uma vida um pouco mais tranquila do que os jovens com a mesma faixa  de renda que vivem em periferias das regiões metropolitanas. Uma parcela  participa de algum programa social do governo. </p>
          <p>Por estarem mais longe  dos centros urbanos, têm menos acesso às informações culturais e eventos em  geral. São menos antenados com as novidades, apesar de possuírem acesso à  internet e relativo interesse por tecnologia.</p>
      </div>
    </div>
  </div>
  <!--END D12-->


