  <!--BEGIN D13-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaD1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Jovens</span> da Periferia</h1>
        <p>As limitações no acesso à educação e à infraestrutura dos bairros onde moram tornam mais difícil a rotina desses jovens. Porém, viram a vida melhorar e acreditam em um futuro melhor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">D13</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Independência na Casa dos Pais</div>
          <p>Jovens, solteiros,  moradores de áreas periféricas que, embora vivam com suas famílias, possuem  renda para se sustentar.
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Jovens  entre 21 e 35 anos</li>
            <li style="text-align:left;font-size:13px;">Moram com  a família, mas mantêm independência</li>
            <li style="text-align:left;font-size:13px;">Solteiros</li>
            <li style="text-align:left;font-size:13px;">Baixa escolaridade</li>
            <li style="text-align:left;font-size:13px;">Maior  parte vive no mesmo endereço há no mínimo 5 anos</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            São jovens solteiros  que, apesar de ainda viverem com suas famílias estendidas, mantêm alguma independência  econômica e conseguem se sustentar com seus próprios recursos. Assim, podem  investir em bens de consumo, como computadores e roupas e, pensar em economizar  para constituir uma família.</p>
          <p>Vivem em áreas  periféricas, em geral das regiões metropolitanas. Poucos moram nas capitais.  Mesmo com a maior parte morando há mais de cinco anos no mesmo endereço,  destaca-se o fato de que uma parcela já mudou de cidade pelo menos uma vez na  vida. </p>
          <p>Possuem baixíssimo  acesso a atividades culturais e são mais frequentadores de comércio de rua.  Apesar da vida difícil, sonham com um futuro melhor e acreditam que o trabalho  formal possa lhes trazer alguma estabilidade ao longo dos anos. </p>
      </div>
    </div>
  </div>
  <!--END D13-->



