  <!--BEGIN D14-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaD1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Jovens</span> da Periferia</h1>
        <p>As limitações no acesso à educação e à infraestrutura dos bairros onde moram tornam mais difícil a rotina desses jovens. Porém, viram a vida melhorar e acreditam em um futuro melhor.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">D14</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Juventude de Baixa Renda do Interior Urbano</div>
          <p>Jovens do interior,  solteiros, dependentes da família de baixa renda.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Grande  maioria até 25 anos</li>
            <li style="text-align:left;font-size:13px;">Solteiros</li>
            <li style="text-align:left;font-size:13px;">Renda  muito baixa</li>
            <li style="text-align:left;font-size:13px;">Dependentes  da família</li>
            <li style="text-align:left;font-size:13px;">Cidades do  interior</li>
            <li style="text-align:left;font-size:13px;">Urbanos</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            São jovens, na  maioria, entre 18 e 25 anos, solteiros e sem filhos.</p>
          <p>A baixa renda e  escolaridade – a maioria não foi além do ensino fundamental – se compensa, em  parte, por viverem no interior e com suas famílias. Por outro lado, são mais  dependentes, tanto dos familiares como de ajuda governamental. Uma parcela  pequena trabalha na iniciativa privada e outros realizam trabalhos informais. </p>
          <p>Sua vida é bastante  modesta: pouco conseguem fazer além do básico. Por isso, os poucos momentos de  lazer são mais voltados para o espaço doméstico, como a TV e a internet, ou espaço  público gratuito, embora essa opção seja escassa.</p>
      </div>
    </div>
  </div>
  <!--END D14-->



