  <!--BEGIN E15-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaE1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Adultos</span> Urbanos Estabelecidos</h1>
        <p>O brasileiro adulto médio: com boa escolaridade e esforço, eles conquistaram uma vida profissional e financeira estável, ainda que sem luxos. São consumidores mais cautelosos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">E15</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Esticando a Renda</div>
          <p>Maioria homens, de  renda mediana, e que muitas vezes dependem do uso do crédito para conseguir  fechar a conta no final do mês.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Predominantemente  homens</li>
            <li style="text-align:left;font-size:13px;">Profissionais  de renda mediana</li>
            <li style="text-align:left;font-size:13px;">Escolaridade  média</li>
            <li style="text-align:left;font-size:13px;">Usuários  frequentes de crédito</li>
            <li style="text-align:left;font-size:13px;">Vida mais  modesta</li>
            <li style="text-align:left;font-size:13px;">Regiões  metropolitanas</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            Adultos, entre 36 e 60  anos, a maioria homens que vivem com suas famílias, normalmente com duas a três  pessoas na residência. São como “malabaristas” que conseguem tirar o máximo dos  recursos disponíveis para que tenham a melhor condição de vida possível.</p>
          <p>São profissionais de  baixa a média escolaridade, que atingiram alguma estabilidade no emprego e  possuem renda fixa, porém muitas vezes insuficiente para cobrir todos os gastos  mensais. Assim, recorrem com frequência ao crédito – seja cartão de crédito ou empréstimo pessoal – para poderem fechar as contas no fim do mês.</p>
          <p>Metade já mudou de  cidade pelo menos uma vez na vida. Moram em geral em regiões metropolitanas,  onde o custo de vida é mais alto e, isso acaba dificultando o frágil equilíbrio  que tentam manter entre despesa e renda. </p>

      </div>
    </div>
  </div>
  <!--END E15-->



