  <!--BEGIN E16-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaE1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Adultos</span> Urbanos Estabelecidos</h1>
        <p>O brasileiro adulto médio: com boa escolaridade e esforço, eles conquistaram uma vida profissional e financeira estável, ainda que sem luxos. São consumidores mais cautelosos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">E16</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Amadurecendo Confortavelmente no Interior</div>
          <p> Maioria maduros,  grande parte morando em cidades do interior, se aproximando da terceira idade  com vida confortável.</p>
          <p><strong>Características Principais</strong></p>
          <ul>
            <li style="text-align:left;font-size:13px;">Maioria  acima de 40 anos</li>
            <li style="text-align:left;font-size:13px;">Alta  escolaridade</li>
            <li style="text-align:left;font-size:13px;">Moram em  zonas urbanas prósperas do interior</li>
            <li style="text-align:left;font-size:13px;">Sudeste,  Sul e Centro-Oeste</li>
            <li style="text-align:left;font-size:13px;">Casados</li>
            <li style="text-align:left;font-size:13px;">Boa renda</li>
          </ul><br/>
          <p><strong>Visão Geral</strong><br>
            São pessoas maduras,  já se aproximando da terceira idade, que tiveram uma boa educação e boas  oportunidades na vida. Por isso, hoje possuem uma estabilidade financeira que  indica a chegada a um futuro confortável.</p>
          <p>Em geral, moram nas  cidades do interior e, por isso, usufruem de melhores condições de vida. Esse  fator permite que suas rendas ofereçam maior poder de compra, já que nesses  locais o custo de vida é mais baixo. A maioria é casada, com uma boa parcela de  idosos na residência. </p>
          <p>A principal ocupação é  o trabalho na iniciativa privada, seja como funcionário, seja como profissional  liberal e, uma pequena parcela é dona do próprio negócio.</p>
          <p>Acreditam que estão  chegando a um ponto de amadurecimento em suas vidas e trabalham para garantirem  um futuro confortável e sem preocupação.</p>
      </div>
    </div>
  </div>
  <!--END E16-->



