  <!--BEGIN E17-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaE1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Adultos</span> Urbanos Estabelecidos</h1>
        <p>O brasileiro adulto médio: com boa escolaridade e esforço, eles conquistaram uma vida profissional e financeira estável, ainda que sem luxos. São consumidores mais cautelosos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">E17</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Ascendentes do Bairro</div>
            <p>Profissionais bem  qualificados que melhoraram de vida, mas decidiram permanecer nos bairros de  origem.</p>
            <p><strong>Características Principais</strong></p>
            <ul>
              <li style="text-align:left;font-size:13px;">Maioria  homens</li>
              <li style="text-align:left;font-size:13px;">Profissionais  qualificados</li>
              <li style="text-align:left;font-size:13px;">Ascenção  pela escolaridade</li>
              <li style="text-align:left;font-size:13px;">Capitais e  regiões metropolitanas</li>
              <li style="text-align:left;font-size:13px;">Muitos  solteiros </li>
              <li style="text-align:left;font-size:13px;">Idade  entre 30 e 55 anos</li>
            </ul><br/>
            <p><strong>Visão Geral</strong><br>
              Adultos, maioria  homens, com idade entre 30 e 55 anos. Apesar da faixa etária, uma boa parte  deles é solteiro.</p>
            <p>Tiveram razoável  acesso à educação, o que permitiu uma melhora de vida ao longo do tempo.  Conseguiram carreiras boas, estáveis e muitos trabalham no setor público, construindo  carreiras como militares, bombeiros, professores, entre outras.</p>
            <p>Moram nas capitais e  regiões metropolitanas, em áreas menos nobres do que a renda indica. Destacam-se  em seus bairros por terem os bens em melhores condições – carros mais novos,  casas mais bem arrumadas, reformadas e equipadas, além de hábitos de lazer mais  caros, como refeições fora de casa nos fins de semana e eventuais viagens  nacionais.</p>
      </div>
    </div>
  </div>
  <!--END E17-->



