  <!--BEGIN E18-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaE1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Adultos</span> Urbanos Estabelecidos</h1>
        <p>O brasileiro adulto médio: com boa escolaridade e esforço, eles conquistaram uma vida profissional e financeira estável, ainda que sem luxos. São consumidores mais cautelosos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">E18</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Operários da Vila</div>
            <p>Trabalhadores da  indústria e do setor de serviços, com baixa remuneração, que costumam morar  próximos ao local de trabalho.</p>
            <p><strong>Características Principais</strong></p>
            <ul>
              <li style="text-align:left;font-size:13px;">Idade  entre 25 e 45 anos</li>
              <li style="text-align:left;font-size:13px;">Muitos  homens solteiros</li>
              <li style="text-align:left;font-size:13px;">Residem em  casa</li>
              <li style="text-align:left;font-size:13px;">Trabalhadores  da indústria</li>
              <li style="text-align:left;font-size:13px;">Baixa qualificação  profissional</li>
              <li style="text-align:left;font-size:13px;">Renda  baixa</li>
            </ul><br/>
            <p><strong>Visão Geral</strong><br>
              São, em geral, homens  chefes de família, na faixa dos 25 aos 45 anos, com baixa escolaridade. Ocupam  cargos de baixa remuneração no setor industrial ou de serviços. </p>
            <p>A família é o porto  seguro e o trabalho é o centro de suas vidas. Porém, como moram perto do  emprego, têm mais tempo para o descanso. São bairros com infraestrutura básica,  mas sem acesso a lazer e espaços públicos. </p>
            <p>A vida é apertada em  função da baixa renda, porém acreditam que vivem razoavelmente bem pelo fato de  não terem estudado muito e estarem empregados. Além disso, costumam ser  controlados em relação ao consumo, evitando recorrer ao crédito. Valorizam a  educação, buscando melhorar sua qualificação ou garantir melhores condições  para os filhos.</p>
      </div>
    </div>
  </div>
  <!--END E18-->



