  <!--BEGIN F19-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaF1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Envelhecendo</span> no Século XXI</h1>
        <p>O crescente grupo de idosos de classe média usufrui hoje de melhores condições, devido à renda da aposentadoria e do maior acesso a serviços de saúde. Ainda assim, sentem nostalgia dos tempos mais simples.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">F19</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Idosos Independentes da Classe Média</div>
            <p>Aposentados, vivendo sozinhos  ou com poucas pessoas, com escolaridade relativamente alta e financeiramente  estáveis.
            <p><strong>Características Principais</strong></p>
            <ul>
              <li style="text-align:left;font-size:13px;">Idosos</li>
              <li style="text-align:left;font-size:13px;">Aposentados</li>
              <li style="text-align:left;font-size:13px;">Tradicionalistas</li>
              <li style="text-align:left;font-size:13px;">Arredios à  tecnologia</li>
              <li style="text-align:left;font-size:13px;">Urbanos e  metropolitanos</li>
              <li style="text-align:left;font-size:13px;">Controlados  financeiramente</li>
              <li style="text-align:left;font-size:13px;">Escolaridade  média para alta</li>
              <li style="text-align:left;font-size:13px;">Independentes</li>
              <li style="text-align:left;font-size:13px;">Casa  própria</li>
              <li style="text-align:left;font-size:13px;">Classe  média</li>
            </ul><br/>
            <p><strong>Visão Geral</strong><br>
              A boa escolaridade – uma  parte importante concluiu o ensino superior – foi preponderante para a  qualidade de vida atual, que não foi impactada de maneira decisiva pela  aposentadoria. </p>
            <p>Muitos vivem sozinhos  e são independentes, inclusive financeiramente. Possuem um estilo de vida  estável e confortável, morando no mesmo endereço, em geral em capitais e  regiões metropolitanas, há muito tempo. Desse modo, têm relações enraizadas com  o bairro e a vizinhança. Apresentam hábitos conservadores em diversas esferas  de suas vidas, como no distanciamento com relação à tecnologia. </p>
            <p>Esse conservadorismo  se reflete também na relação com o consumo: não se arriscam muito em questões  financeiras e, talvez por isso, quase não fazem uso do crédito ao qual possuem  acesso em função da renda fixa.</p>
      </div>
    </div>
  </div>
  <!--END F19-->



