  <!--BEGIN F20-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaF1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Envelhecendo</span> no Século XXI</h1>
        <p>O crescente grupo de idosos de classe média usufrui hoje de melhores condições, devido à renda da aposentadoria e do maior acesso a serviços de saúde. Ainda assim, sentem nostalgia dos tempos mais simples.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">F20</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">“Jovens” Idosos Urbanos e Dinâmicos</div>
              <p>Recém aposentados e  com escolaridade mediana, tiveram melhora na qualidade de vida decorrente das  transformações vivenciadas no País.
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Jovens  idosos</li>
                <li style="text-align:left;font-size:13px;">Maduros</li>
                <li style="text-align:left;font-size:13px;">Aposentados</li>
                <li style="text-align:left;font-size:13px;">Otimistas</li>
                <li style="text-align:left;font-size:13px;">Urbanos e  metropolitanos</li>
                <li style="text-align:left;font-size:13px;">Financeiramente  mais ousados</li>
                <li style="text-align:left;font-size:13px;">Escolaridade  baixa/média </li>
                <li style="text-align:left;font-size:13px;">Melhora de  vida</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
              A maioria tem mais de  65 anos, mas podem ser considerados jovens entre os idosos. Oriundos das  classes baixa ou média-baixa, obtiveram um incremento de renda e melhor acesso  a bens e serviços, proporcionados principalmente pelo tempo de vida e pelas  mudanças socioeconômicas das últimas décadas.</p>
              <p>Vivem em bairros de  classe média-baixa, a maioria em regiões metropolitanas ou capitais. Sua renda  pessoal média é ligeiramente superior à nacional, pois, além da aposentadoria,  muitos mantêm alguma atividade rentável extra, dada a idade não tão avançada. </p>
              <p>As dificuldades  passadas na vida os tornaram um pouco mais flexíveis e, com a melhora dos  últimos anos, mais otimistas. Por isso, apresentam comportamento financeiro e de  consumo pouco conservador e recorrem ao crédito quando necessário.</p>

      </div>
    </div>
  </div>
  <!--END F20-->



