  <!--BEGIN F21-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaF1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Envelhecendo</span> no Século XXI</h1>
        <p>O crescente grupo de idosos de classe média usufrui hoje de melhores condições, devido à renda da aposentadoria e do maior acesso a serviços de saúde. Ainda assim, sentem nostalgia dos tempos mais simples.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">F21</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Idosos Remediados do Interior</div>
              <p>Aposentados acima de  70 anos, de escolaridade baixa e que vivem fora das regiões metropolitanas.
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Mais de 70  anos</li>
                <li style="text-align:left;font-size:13px;">Aposentados</li>
                <li style="text-align:left;font-size:13px;">Interioranos</li>
                <li style="text-align:left;font-size:13px;">Financeiramente  remediados</li>
                <li style="text-align:left;font-size:13px;">Escolaridade  baixa</li>
                <li style="text-align:left;font-size:13px;">Pouco  acesso à tecnologia</li>
                <li style="text-align:left;font-size:13px;">Fiadores  de crédito</li>
                <li style="text-align:left;font-size:13px;">Família  estendida</li>
                <li style="text-align:left;font-size:13px;">Tranquilidade</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Com faixa etária média  acima de 70 anos, são aposentados que vivem fora das regiões metropolitanas ou  capitais, em áreas de menor desenvolvimento econômico e urbano, porém com custo  de vida menor. Boa parte deste grupo é composta por mulheres viúvas. De um modo  geral, são pessoas marcadas pela idade, mas que vivem uma vida tranquila.</p>
              <p>Com baixa  escolaridade, são conservadores, com pouquíssimo conhecimento das questões  financeiras ou de crédito. Junto à baixa renda e aos elevados gastos fixos  provocados pela idade, o receio em relação ao crédito faz dessas pessoas quase  “não consumidoras”, pois ficam restritas às necessidades mais básicas. No  entanto, podem ceder o nome limpo para membros da família que precisem fazer um  financiamento ou empréstimo.&nbsp; </p>
      </div>
    </div>
  </div>
  <!--END F21-->



