  <!--BEGIN G22-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaH1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Donos</span> de Negócio</h1>
        <p>O sonho de ser o próprio patrão se tornou realidade para eles. São pequenos e médios empreendedores que investiram suas economias e começaram a ver o resultado, ainda que com algumas instabilidades.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">G22</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Empresários Estabilizados</div>
              <p> São pequenos e médios  proprietários, mais velhos, que já conseguiram viabilizar e estabilizar seus  negócios.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Muitos são  homens e casados</li>
                <li style="text-align:left;font-size:13px;">Idade média  de 50 anos</li>
                <li style="text-align:left;font-size:13px;">Vivem com  a família</li>
                <li style="text-align:left;font-size:13px;">Financeiramente  estáveis</li>
                <li style="text-align:left;font-size:13px;">Muitos  ex-funcionários públicos</li>
                <li style="text-align:left;font-size:13px;">Maioria  fora das capitais</li>
              </ul>
              <p><strong>Visão Geral</strong><br>
                São predominantemente  homens, com idade em torno dos 50 anos e alta escolaridade. Muitos começaram a  vida como funcionários, em especial no setor público, mas resolveram investir  no próprio negócio pensando em aumentar a renda, garantir o futuro e obter  maior flexibilidade de horário. </p>
              <p>Moram fora das  capitais e têm a preocupação de ajudar os filhos, que não são mais crianças, a  começarem suas vidas. Por isso, às vezes empregam filhos e demais parentes em  seus negócios. </p>
              <p>Como suas empresas em geral  já passaram dos anos mais perigosos, nos quais muitas acabaram fechando, possuem  estabilidade e isso lhes garante uma vida extremamente confortável se comparada  aos padrões brasileiros. Conseguem consumir produtos de marcas famosas e  acessam bens culturais e viagens.</p>
      </div>
    </div>
  </div>
  <!--END G22-->



