  <!--BEGIN G23-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaH1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Donos</span> de Negócio</h1>
        <p>O sonho de ser o próprio patrão se tornou realidade para eles. São pequenos e médios empreendedores que investiram suas economias e começaram a ver o resultado, ainda que com algumas instabilidades.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">G23</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Jovens Empreendedores e Ousados</div>
              <p>  Jovens empreendedores  que investem no sucesso de seus negócios sonhando com um futuro promissor.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Mais  homens que mulheres</li>
                <li style="text-align:left;font-size:13px;">Predominantemente  solteiros</li>
                <li style="text-align:left;font-size:13px;">Maioria  entre 26 e 45 anos</li>
                <li style="text-align:left;font-size:13px;">Proprietários  de pequenos negócios</li>
                <li style="text-align:left;font-size:13px;">Confiantes</li>
                <li style="text-align:left;font-size:13px;">Consumistas</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                São jovens adultos,  entre os 26 e os 45 anos, que acreditam fortemente na possibilidade de uma  renda maior se investirem em negócios próprios em vez de trabalharem como empregados.</p>
              <p>Valorizam mais suas  qualidades empreendedoras do que a própria escolaridade. <br>
                Audaciosos e  otimistas, se lançam ao mercado. Como não estão muito bem preparados, muitas  vezes passam por dificuldades, mas não desistem.</p>
              <p>A maioria é composta  por solteiros e mais da metade já se mudou de cidade pelo menos uma vez. O  mesmo apetite que apresentam em relação aos negócios é observado na vida pessoal:  são ambiciosos e acreditam que a aquisição de bens demonstra seu status social  e sua capacidade profissional. Assim, estão constantemente pressionados pelo  desejo de alcançar o sucesso e pela necessidade de investimento que seus  negócios iniciantes demandam. </p>
      </div>
    </div>
  </div>
  <!--END G23-->



