  <!--BEGIN G24-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaH1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Donos</span> de Negócio</h1>
        <p>O sonho de ser o próprio patrão se tornou realidade para eles. São pequenos e médios empreendedores que investiram suas economias e começaram a ver o resultado, ainda que com algumas instabilidades.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">G24</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Pequenos Negociantes do Interior</div>
              <p>  Donos de pequeno ou  micronegócios no interior, por vezes até em áreas rurais, com renda mediana,  mas usufruindo de certo conforto.</p>
                <ul>
                  <li style="text-align:left;font-size:13px;">Predominantemente  homens</li>
                  <li style="text-align:left;font-size:13px;">Média  etária de 45 anos</li>
                  <li style="text-align:left;font-size:13px;">Micro e  pequenos comércios </li>
                  <li style="text-align:left;font-size:13px;">Cidades  pequenas e médias do interior</li>
                  <li style="text-align:left;font-size:13px;">Escolaridade  e renda médias a baixas</li>
                  <li style="text-align:left;font-size:13px;">Conciliação  com trabalho assalariado</li>
                </ul><br/>
                <p><strong>Visão Geral</strong><br>
                  Pequenos comerciantes  de cidades do interior do País que enxergaram na abertura do negócio próprio  uma boa oportunidade de aumento de renda e estabilidade financeira.</p>
                <p>Alguns são ou já foram  funcionários públicos que aproveitaram a estabilidade para fazer uma pequena  poupança e investir em um negócio próprio, por vezes administrado inicialmente  pela esposa ou algum parente, enquanto continuaram atuando no trabalho  assalariado.</p>
                <p>Suas rendas não são  altas, mas costumam ser constantes, o que lhes permite usufruir de vida  confortável, principalmente porque nas cidades do interior o custo de vida  tende a ser mais baixo. No entanto, diferente dos demais segmentos deste grupo,  não há espaço para serem consumistas ou muito ambiciosos, pois atuam em  mercados menos aquecidos.</p>
      </div>
    </div>
  </div>
  <!--END G24-->



