  <!--BEGIN H25-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaG1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Massa</span> Trabalhadora Urbana</h1>
        <p>Formando a massa de trabalhadores com baixa escolaridade e renda, eles vivem as vantagens e desvantagens das grandes cidades: o acesso ao consumo, à informação, os problemas de mobilidade e alto custo de vida.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">H25</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Carteira Assinada nas Regiões Metropolitanas</div>
              <p>  Homens e mulheres de  baixa renda e escolaridade que nos últimos anos adquiriram estabilidade em  função do emprego formal.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Carteira  assinada</li>
                <li style="text-align:left;font-size:13px;">Baixo  nível de desemprego</li>
                <li style="text-align:left;font-size:13px;">35 a 60  anos</li>
                <li style="text-align:left;font-size:13px;">Casados</li>
                <li style="text-align:left;font-size:13px;">Aluguel</li>
                <li style="text-align:left;font-size:13px;">Regiões  metropolitanas</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                São trabalhadores  moradores dos subúrbios e periferias das regiões metropolitanas, cujo acesso ao  emprego formal possibilitou que atingissem uma situação financeira mais estável  e segura.</p>
              <p>A maioria é casada e tem  filhos. Em geral, vivem com suas famílias em bairros que, apesar de humildes,  possuem serviços básicos de saneamento, saúde e educação, por estarem em  grandes centros urbanos.</p>
              <p>Apesar que o alto índice  de emprego formal, sua escolaridade é muito baixa, o que muitas vezes os impedem de exercer funções mais prestigiosas e com remuneração mais elevada. Porém, por  terem visto sua situação progredir, alimentam esperanças de um futuro melhor  para si e para seus filhos.</p>
      </div>
    </div>
  </div>
  <!--END H25-->



