  <!--BEGIN H26-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaG1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Massa</span> Trabalhadora Urbana</h1>
        <p>Formando a massa de trabalhadores com baixa escolaridade e renda, eles vivem as vantagens e desvantagens das grandes cidades: o acesso ao consumo, à informação, os problemas de mobilidade e alto custo de vida.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">H26</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Trabalhadores manuais de baixa remuneração</div>
              <p>  Pessoas entre 30 e 55  anos, casadas, dependentes de ajuda governamental e que exercem trabalhos operacionais  para sobreviver.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Trabalhos  manuais</li>
                <li style="text-align:left;font-size:13px;">Empregados</li>
                <li style="text-align:left;font-size:13px;">Baixa  escolaridade</li>
                <li style="text-align:left;font-size:13px;">Baixo  tempo de residência</li>
                <li style="text-align:left;font-size:13px;">Casados</li>
                <li style="text-align:left;font-size:13px;">Baixo  crédito</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                São pessoas entre 30 e  55 anos, casadas, com filhos e moradoras das regiões metropolitanas. Trabalhadores pouco qualificados estão usualmente em atividades manuais, de baixo prestígio  e remuneração. </p>
              <p>Em geral, moram em  bairros pobres e afastados, com dificuldade de acesso a serviços básicos como  saneamento, coleta de lixo e iluminação pública, assim como serviço de saúde  pública e educação. Em sua maioria, moram há pouco tempo no mesmo endereço,  dificultando a formação de laços sociais de solidariedade na vizinhança.</p>
              <p>Vivem em situação de  vulnerabilidade social e compõem parte expressiva de uma população urbana que é  alvo de políticas públicas de assistência social.</p>
      </div>
    </div>
  </div>
  <!--END H26-->



