  <!--BEGIN H27-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaG1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Massa</span> Trabalhadora Urbana</h1>
        <p>Formando a massa de trabalhadores com baixa escolaridade e renda, eles vivem as vantagens e desvantagens das grandes cidades: o acesso ao consumo, à informação, os problemas de mobilidade e alto custo de vida.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">H27</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Prestadores de Serviços nas Regiões Metropolitanas</div>
              <p>  Homens autônomos  atuando no setor de serviços e mercados com remuneração razoável.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Homens</li>
                <li style="text-align:left;font-size:13px;">Entre 36 e  55 anos</li>
                <li style="text-align:left;font-size:13px;">Autônomos</li>
                <li style="text-align:left;font-size:13px;">Empregados  dos setores de serviços </li>
                <li style="text-align:left;font-size:13px;">Maior  escolaridade</li>
                <li style="text-align:left;font-size:13px;">Renda  razoável</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                O acesso à  escolaridade formal proporcionou a esses adultos uma vantagem competitiva: conseguiram  ocupações profissionais de nível superior ou técnico em setores administrativos  e do comércio. São majoritariamente homens e se encontram na faixa dos 36 aos  55 anos.</p>
              <p>Como, em geral, vivem  fora das capitais, em cidades menores das regiões metropolitanas e por vezes do  interior, o poder de compra de sua renda é potencializado pelo menor custo de  vida desses locais.</p>
              <p>Embora sua renda  permita que tenham, no interior de suas casas, condições de vida melhores, com  maior acesso a lazer e consumo um pouco além do básico, eles continuam vivendo  em bairros simples, muitas vezes precários. </p>
      </div>
    </div>
  </div>
  <!--END H27-->




