  <!--BEGIN H28-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaG1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Massa</span> Trabalhadora Urbana</h1>
        <p>Formando a massa de trabalhadores com baixa escolaridade e renda, eles vivem as vantagens e desvantagens das grandes cidades: o acesso ao consumo, à informação, os problemas de mobilidade e alto custo de vida.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">H28</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Jovens da Informalidade</div>
              <p>   Homens e mulheres  entre 26 e 40 anos, solteiros, atuando no mercado informal de trabalho,  concentrados nas regiões costeiras.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Mercado  informal </li>
                <li style="text-align:left;font-size:13px;">Solteiros</li>
                <li style="text-align:left;font-size:13px;">Ajuda governamental</li>
                <li style="text-align:left;font-size:13px;">Baixa  renda</li>
                <li style="text-align:left;font-size:13px;">CPF  suspenso</li>
                <li style="text-align:left;font-size:13px;">Moradores  de comunidade</li>
                <li style="text-align:left;font-size:13px;">Concentrados  no litoral</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Jovens, concentrados  na faixa etária entre e 26 e 40 anos, que atuam profissionalmente fora do  mercado formal de emprego. Em função da baixa escolaridade, a renda também  costuma ser baixa. Isso, somado à informalidade, coloca essas pessoas em  situações claras de vulnerabilidade social e muitos são alvo de políticas  públicas de combate à pobreza. </p>
              <p>Em geral, estão nas  regiões metropolitanas, mas fora das capitais, em especial as situadas na costa  brasileira. Isso faz com que haja presença de trabalho sazonal, de acordo com a  vinda dos turistas.</p>
              <p>São, em boa parte,  moradores de favelas que vivem em situações limítrofes de habitação, com baixo  acesso a serviços públicos de saúde, educação e sem muita perspectiva de vida.  Muitas vezes, a praia é a única opção de lazer de que podem desfrutar.</p>
      </div>
    </div>
  </div>
  <!--END H28-->




