  <!--BEGIN H29-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaG1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Massa</span> Trabalhadora Urbana</h1>
        <p>Formando a massa de trabalhadores com baixa escolaridade e renda, eles vivem as vantagens e desvantagens das grandes cidades: o acesso ao consumo, à informação, os problemas de mobilidade e alto custo de vida.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">H29</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Comunidades do Litoral</div>
              <p>    Moradores de áreas  classificadas como favelas, densamente povoadas, localizadas majoritariamente  no Rio de Janeiro e Bahia.
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Moradores  de favelas</li>
                <li style="text-align:left;font-size:13px;">Áreas  densamente povoadas</li>
                <li style="text-align:left;font-size:13px;">Capitais</li>
                <li style="text-align:left;font-size:13px;">Cidades  costeiras</li>
                <li style="text-align:left;font-size:13px;">Trabalho  informal</li>
                <li style="text-align:left;font-size:13px;">Ajuda  governamental</li>
              </ul>
              <p><strong>Visão Geral</strong><br>
                Pessoas entre 26 e 50  anos, muitas solteiras. A maioria é moradora de favelas em áreas urbanas,  predominantemente em capitais, nas regiões costeiras, com destaque para a  cidade do Rio de Janeiro e para o Estado da Bahia. Essas moradias são em geral  precárias, sem regulamentação fundiária, carentes de identificação das ruas,  pavimentação, iluminação pública e serviços de coleta de lixo e saneamento  básico.</p>
              <p>Uma parte está  inserida no mercado formal de trabalho. No entanto, a maioria atua na  informalidade ou está desempregada. Muitos trabalham por conta própria em funções  pouco rentáveis, ou seja, encontram algum jeito de ganhar a vida. Uma proporção  expressiva recebe ajuda governamental. Apesar da violência em suas comunidades,  conseguem construir redes de solidariedade e cultura.</p>
      </div>
    </div>
  </div>
  <!--END H29-->




