  <!--BEGIN I30-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaI1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Moradores</span> de Áreas Empobrecidas do Sul e Sudeste</h1>
        <p>Trabalhadores com escolaridade e renda baixas, morando em áreas precárias, com difícil acesso a espaços e serviços públicos. Nos últimos anos, viram seu poder de consumo crescer, indo além das necessidades mais imediatas.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">I30</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Comunidades do Litoral</div>
              <p>    Homens e mulheres, em geral acima de 40 anos, moradores de bairros periféricos  de cidades do interior nas regiões Sul e Sudeste.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Adultos</li>
                <li style="text-align:left;font-size:13px;">Já viveram  mais da metade de suas vidas</li>
                <li style="text-align:left;font-size:13px;">Vivem no  limite entre a cidade o campo</li>
                <li style="text-align:left;font-size:13px;">Renda  mediana</li>
                <li style="text-align:left;font-size:13px;">Emprego  formal</li>
                <li style="text-align:left;font-size:13px;">Família</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                São homens e mulheres  chegando à terceira idade, se concentrando na faixa dos 50 aos 70 anos. É  comum, em decorrência das dificuldades que a vida lhes trouxe, apresentarem  aparência física mais envelhecida que a própria idade cronológica sugere.</p>
              <p>São profissionais de  baixa qualificação, quase sempre com apenas o ensino básico. Por isso, acabaram  inseridos em cargos menos valorizados no mercado de trabalho. </p>
              <p>A maioria é casada e  vive com suas famílias estendidas em bairros periféricos, com acesso restrito à  infraestrutura básica. Filhos costumam morar com os pais, assim como os avós ou  parentes mais velhos.</p>
              <p>Com pouco acesso a  lazer público, no ambiente doméstico e na vizinhança estão os principais nós da  rede de sociabilidade que dá sustento material e simbólico às suas vidas.</p>
      </div>
    </div>
  </div>
  <!--END I30-->






