  <!--BEGIN I31-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaI1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Moradores</span> de Áreas Empobrecidas do Sul e Sudeste</h1>
        <p>Trabalhadores com escolaridade e renda baixas, morando em áreas precárias, com difícil acesso a espaços e serviços públicos. Nos últimos anos, viram seu poder de consumo crescer, indo além das necessidades mais imediatas.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">I31</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Periferia Jovem do Interior</div>
              <p>Pessoas em geral entre  26 e 40 anos, moradores dos bairros periféricos das cidades do interior do Sul  e Sudeste.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Jovem adulto</li>
                <li style="text-align:left;font-size:13px;">Mercado  informal de trabalho</li>
                <li style="text-align:left;font-size:13px;">Periferias  do interior</li>
                <li style="text-align:left;font-size:13px;">Renda  baixa</li>
                <li style="text-align:left;font-size:13px;">Recebem  auxílio governamental</li>
                <li style="text-align:left;font-size:13px;">Família</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Jovens adultos, cuja  idade varia entre os 26 e 40 anos. Na maioria solteiros, compartilham o  domicílio com a família estendida e parte convive com idosos em casa. Poucos  possuem emprego com carteira assinada, indicando uma alta taxa de desemprego e  de pessoas trabalhando informalmente. Alguns recebem ajuda governamental.</p>
              <p>A maioria completou o ensino  fundamental e uma boa parte chegou ao ensino médio. Seu consumo é bastante  restrito a itens básicos relacionados à moradia, alimentação e vestuário. Mas são  ligados na internet e não deixam de sonhar: às vezes conseguem comprar  produtos mais caros, como roupas de marca, eletrônicos (TV de LCD, vídeo game,  smartphone) e eventualmente, veículos, principalmente motocicletas. </p>

      </div>
    </div>
  </div>
  <!--END I31-->






