  <!--BEGIN I32-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaI1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Moradores</span> de Áreas Empobrecidas do Sul e Sudeste</h1>
        <p>Trabalhadores com escolaridade e renda baixas, morando em áreas precárias, com difícil acesso a espaços e serviços públicos. Nos últimos anos, viram seu poder de consumo crescer, indo além das necessidades mais imediatas.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">I32</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Comunidade Madura</div>
              <p>Adultos, em geral acima de 40 anos, com baixa escolaridade e baixa renda,  habitando regiões precárias do meio urbano.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Adultos,  em geral entre 40 e 70 anos</li>
                <li style="text-align:left;font-size:13px;">Baixa  escolaridade</li>
                <li style="text-align:left;font-size:13px;">Informalidade</li>
                <li style="text-align:left;font-size:13px;">Sudeste e  Nordeste</li>
                <li style="text-align:left;font-size:13px;">Favelas</li>
                <li style="text-align:left;font-size:13px;">Risco de  crédito</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Homens e mulheres  adultos que vivem em regiões precárias, concentradas nas áreas mais populosas do  País. Com baixa escolaridade, muitos estão inseridos no mercado informal ou  mesmo desempregados. Os filhos são os principais pontos de investimento, pois  representam a esperança e a possibilidade de realização dos sonhos da família  inteira.&nbsp; </p>
              <p>A vida é bem modesta, mas  há espaço para algumas manobras, como o churrasco no fim de semana, a compra de  uma TV de LCD ou uma pequena reforma em casa. São caseiros, valorizam as  famílias e o convívio com a vizinhança. </p>

      </div>
    </div>
  </div>
  <!--END I32-->






