  <!--BEGIN J33-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaJ1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Habitantes</span> de Zonas Precárias</h1>
        <p>Homens e mulheres que vivem próximos à linha de pobreza e, por isso, dependem de programas sociais. A baixa renda e escolaridade é agravada por estarem em regiões com acesso restrito a serviços públicos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">J33</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Jovens Desprovidos</div>
              <p>Jovens na faixa entre  20 e 35 anos de baixa escolaridade, baixa renda e condições de vida precárias.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Pessoas  entre 20 e 35 anos</li>
                <li style="text-align:left;font-size:13px;">Baixa  escolaridade</li>
                <li style="text-align:left;font-size:13px;">Desempregadas</li>
                <li style="text-align:left;font-size:13px;">Dependem  das famílias para sobreviver</li>
                <li style="text-align:left;font-size:13px;">Baixa  expectativa em relação à vida</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Embora jovens, eles já  enfrentaram todo tipo de dificuldade: financeira, no acesso a serviços públicos  e à cidadania. Por isso, muitas vezes parecem mais amadurecidos e envelhecidos  do que realmente são.</p>
              <p>Vivem em cidades  pequenas, em geral no Nordeste e Norte do País. Quando conseguem vencer a  barreira do acesso, encontram uma educação de baixa qualidade, sem formação  profissional. Dessa forma, só obtêm colocações informais ou de baixíssima  remuneração. </p>
              <p>Como dependem de suas  famílias, dividem residências que são densamente povoadas, com pouco espaço  para privacidade ou lazer. Fora de casa, o espaço público é carente de quase  tudo. Possuem poucas expectativas em relação ao futuro, mas mantêm alguns  sonhos de consumo, como um computador, uma TV grande e, quem sabe, uma moto.</p>

      </div>
    </div>
  </div>
  <!--END J33-->






