  <!--BEGIN J34-->
   <div>
      <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaJ1.jpg') no-repeat center;">
        <div class="headerContent">
          <h1><span>Habitantes</span> de Zonas Precárias</h1>
          <p>Homens e mulheres que vivem próximos à linha de pobreza e, por isso, dependem de programas sociais. A baixa renda e escolaridade é agravada por estarem em regiões com acesso restrito a serviços públicos.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">J34</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
          <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Adultos Vulneráveis</div>
                <p>Homens e mulheres de meia-idade  em situação de pobreza em pequenas cidades da costa e interior do Brasil.</p>
                <p><strong>Características Principais</strong></p>
                <ul>
                  <li style="text-align:left;font-size:13px;">Média  etária em torno de 55 anos</li>
                  <li style="text-align:left;font-size:13px;">Profissionais  sem qualificação</li>
                  <li style="text-align:left;font-size:13px;">Dependentes  de ajuda governamental</li>
                  <li style="text-align:left;font-size:13px;">Pais de  jovens também em situação precária</li>
                  <li style="text-align:left;font-size:13px;">Sedentários</li>
                  <li style="text-align:left;font-size:13px;">Parte em  área rural</li>
                </ul><br/>
                <p><strong>Visão Geral</strong><br>
                  Adultos com média  etária em torno de 55 anos. Em geral, são trabalhadores com baixíssima  qualificação, muitos na informalidade. Suas esposas são donas de casa ou também  vivem situações profissionais desfavoráveis.</p>
                <p>Moram em cidades  pequenas, em áreas pouco desenvolvidas economicamente do Norte e Nordeste do  País. As casas são densamente habitadas, frequentemente com presença de idosos  já aposentados, cuja renda influencia decisivamente nas condições de vida da  família. Poucos conseguem consumir além das necessidades básicas relacionadas à  moradia, alimentação e vestuário.</p>
                <p>Tiveram pouco acesso à  escolaridade e alguns são analfabetos. Passaram boa parte de suas vidas à  margem da cidadania, esquecidos pelo Estado. Assim, muitos encontram na  religião uma forma de alento para o dia a dia sofrido. </p>
        </div>
      </div>
    </div>
  <!--END J34-->






