  <!--BEGIN K35-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaK1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Habitantes</span> das Áreas Rurais</h1>
        <p>Moraram a vida toda em áreas rurais e isso define muito sobre eles: o trabalho para o agronegócio ou em lavoura para consumo próprio, a dificuldade para acessar educação, outros serviços públicos e o amor à terra.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">K35</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Pedacinho de Terra</div>
              <p>Homens e mulheres que moram em setores censitários rurais, com renda mediana,  trabalhadores ou pequenos proprietários.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Zona rural  do Sul e do Sudeste</li>
                <li style="text-align:left;font-size:13px;">Escolaridade  de baixa para média</li>
                <li style="text-align:left;font-size:13px;">Renda  mediana</li>
                <li style="text-align:left;font-size:13px;">Maior  mobilidade</li>
                <li style="text-align:left;font-size:13px;">Pequenos  proprietários</li>
                <li style="text-align:left;font-size:13px;">Emprego  formal</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                São trabalhadores e  pequenos proprietários moradores das zonas rurais do Sul e do Sudeste do País. Com  escolaridade mediana e condições de vida razoáveis, têm satisfação no trabalho  com a terra e na distância dos problemas das grandes cidades. </p>
              <p>Há pessoas  distribuídas em uma ampla faixa etária, mas concentradas em uma média por volta  dos 40 anos. Grande parte é de pessoas casadas, que vivem com suas famílias, incluindo  idosos na residência.</p>
              <p>A maioria é composta  por empregados com registro formal, mas há também uma proporção significativa  de pequenos proprietários. São também pessoas que apresentam certa mobilidade:  muitos já mudaram de cidade ao menos uma vez.</p>
      </div>
    </div>
  </div>
  <!--END K35-->






