<!--BEGIN K36-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaK1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Habitantes</span> das Áreas Rurais</h1>
        <p>Moraram a vida toda em áreas rurais e isso define muito sobre eles: o trabalho para o agronegócio ou em lavoura para consumo próprio, a dificuldade para acessar educação, outros serviços públicos e o amor à terra.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">K36</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Jovens Trabalhadores do Agronegócio</div>
              <p>Mais jovens, com idade entre 21 e 40 anos, são trabalhadores rurais de  escolaridade baixa, moradores do Sudeste e Centro-Oeste.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Homens e  mulheres</li>
                <li style="text-align:left;font-size:13px;">Baixa  renda</li>
                <li style="text-align:left;font-size:13px;">Mais  jovens</li>
                <li style="text-align:left;font-size:13px;">Vivem com  família estendida</li>
                <li style="text-align:left;font-size:13px;">Empregados</li>
                <li style="text-align:left;font-size:13px;">Rurais</li>
                <li style="text-align:left;font-size:13px;">Escolaridade  baixa</li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Jovens moradores do  interior do Sudeste e Centro-Oeste do País, trabalhando em latifúndios ou  empresas ligadas ao agronegócio. Em geral, nasceram em áreas rurais e suas  famílias praticavam agricultura de subsistência. Muitos migraram de regiões  mais ao sul, com os pais ou sozinhos para tentar a vida.</p>
              <p>A escolaridade é baixa  em relação à faixa etária, mas boa para a média em áreas rurais. A renda também  é razoável. Parte é casada e vive com suas famílias, sendo comum a presença de  crianças nas casas. </p>
              <p>A residência muitas  vezes é localizada em fazendas e cedida pelo grande proprietário empregador.  Por isso, seu anseio é conseguir juntar dinheiro para ter sua própria terra,  sem depender do patrão e sem precisar migrar novamente.</p>
      </div>
    </div>
  </div>
  <!--END K36-->










