  <!--BEGIN K37-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaK1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Habitantes</span> das Áreas Rurais</h1>
        <p>Moraram a vida toda em áreas rurais e isso define muito sobre eles: o trabalho para o agronegócio ou em lavoura para consumo próprio, a dificuldade para acessar educação, outros serviços públicos e o amor à terra.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">K37</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Saudade da Roça</div>
              <p>Pessoas idosas,  morando há muito tempo em áreas rurais do Sul e Sudeste do País.
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Predominantemente homens </li>
                <li style="text-align:left;font-size:13px;">Idosos </li>
                <li style="text-align:left;font-size:13px;">Viúvos ou casados </li>
                <li style="text-align:left;font-size:13px;">Aposentados </li>
                <li style="text-align:left;font-size:13px;">Rurais </li>
                <li style="text-align:left;font-size:13px;">Baixa escolaridade </li>
                <li style="text-align:left;font-size:13px;">Saudosistas </li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Idosos que moram há  muito tempo no mesmo endereço em bairros ou pequenas cidades rurais do Sul e  Sudeste do País. Em geral, são homens e muitos são viúvos. Alguns são filhos de  imigrantes italianos, alemães ou japoneses. </p>
              <p>Trabalharam a vida  inteira na roça. Apesar de a maioria ser aposentada, há os que ainda trabalham  como empregados formais. A idade, porém, é avançada para o trabalho rural e  também requer cuidados mais constantes com a saúde. Por isso, deslocam-se com  frequência para as cidades próximas. Muitas vezes, seus filhos acabam cuidando  da terra e dando continuidade ao sustento da família. </p>
              <p>São extremamente  tradicionais, apegados a suas raízes e não se adaptam a certas mudanças que  ocorreram nos últimos anos, como a chegada da tecnologia. </p>
      </div>
    </div>
  </div>
  <!--END K37-->










