  <!--BEGIN K38-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaK1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Habitantes</span> das Áreas Rurais</h1>
        <p>Moraram a vida toda em áreas rurais e isso define muito sobre eles: o trabalho para o agronegócio ou em lavoura para consumo próprio, a dificuldade para acessar educação, outros serviços públicos e o amor à terra.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">K38</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Juventude do Norte e Nordeste Rural</div>
              <p>Homens e mulheres  moradores do interior do Norte e do Nordeste; trabalhadores rurais.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Boa  distribuição entre homens e mulheres</li>
                <li style="text-align:left;font-size:13px;">Baixa renda </li>
                <li style="text-align:left;font-size:13px;">Jovens </li>
                <li style="text-align:left;font-size:13px;">Vivem com família estendida </li>
                <li style="text-align:left;font-size:13px;">Alto  índice de participação em programas sociais governamentais </li>
                <li style="text-align:left;font-size:13px;">Rurais </li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                São jovens moradores  das áreas rurais do Nordeste e do Norte do País. Com baixa renda e situação  informal de emprego, vivem em condições difíceis, com muita insegurança  financeira e vulneráveis do ponto de vista social. Uma boa parte está inserida  em programas sociais do governo. </p>
              <p>Trabalham nas terras  da família ou possuem um pequeno pedaço de terra para o cultivo de subsistência.  Porém, isso não rende o suficiente para viverem com conforto, já que em suas regiões  não há mercado consumidor para sobras da produção. São extremamente suscetíveis  às condições climáticas. </p>
              <p>Apesar da baixa  escolaridade, muitos são a primeira geração da família que foi alfabetizada, o  que lhes traz certas responsabilidades, inclusive a de ajudar seus pais. Alguns  possuem telefones celulares ou até motos simples.</p>
      </div>
    </div>
  </div>
  <!--END K38-->










