  <!--BEGIN K39-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaK1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Habitantes</span> das Áreas Rurais</h1>
        <p>Moraram a vida toda em áreas rurais e isso define muito sobre eles: o trabalho para o agronegócio ou em lavoura para consumo próprio, a dificuldade para acessar educação, outros serviços públicos e o amor à terra.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">K39</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Idosos da Agricultura Familiar do Norte e Nordeste</div>
              <p>Homens e mulheres  idosos, moradores de áreas rurais empobrecidas do Norte e Nordeste.</p>
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Mais homens que mulheres </li>
                <li style="text-align:left;font-size:13px;">Baixa renda </li>
                <li style="text-align:left;font-size:13px;">Vivem com família estendida </li>
                <li style="text-align:left;font-size:13px;">Alguns recebem ajuda governamental </li>
                <li style="text-align:left;font-size:13px;">Rurais </li>
                <li style="text-align:left;font-size:13px;">Dependentes dos filhos </li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Idosos, vivem em áreas  pobres das zonas rurais do Norte e do Nordeste do País. Há uma grande parcela  de moradores de áreas consideradas vilas rurais isoladas. Muitos já deixaram de  trabalhar regularmente, mas ainda fazem alguns “bicos” em lavouras de  proprietários maiores para ter uma pequena renda. </p>
              <p>A maioria não possui  nenhum tipo de proteção social, como aposentadoria. Outros recebem ajuda de  programas sociais do governo. Chegaram a uma fase da vida em que o cansaço  venceu o trabalho cotidiano. Por isso, dependem do trabalho dos filhos.</p>
              <p>Muitos possuem terras  que foram ocupadas no passado e já estão regularizadas. As dificuldades pelas  quais passaram na vida – inclusive fome – os faz acreditar que, apesar da  extrema pobreza, vivem hoje em melhores condições. </p>
      </div>
    </div>
  </div>
  <!--END K39-->










