  <!--BEGIN K40-->
  <div>
    <div class="mosaic_a1_top" style="background: url('assets/mosaics/bgInternaK1.jpg') no-repeat center;">
      <div class="headerContent">
        <h1><span>Habitantes</span> das Áreas Rurais</h1>
        <p>Moraram a vida toda em áreas rurais e isso define muito sobre eles: o trabalho para o agronegócio ou em lavoura para consumo próprio, a dificuldade para acessar educação, outros serviços públicos e o amor à terra.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title mb5" style="text-align: left;margin-top: 10px;font-weight: 100;font-size: 22px;">K40</h2><div class="pull-right"><img src="assets/logo_serasa.jpg" style="width: 130px;margin-top: -33px;"></div>
        <div style="margin-bottom: 6px;text-align: left;margin-top: 0px;font-weight: 600;font-size: 22px;">Sertão Profundo</div>
              <p>Moradores das zonas  mais rurais do País, vivendo distantes dos serviços e em situações precárias.
              <p><strong>Características Principais</strong></p>
              <ul>
                <li style="text-align:left;font-size:13px;">Homens e Mulheres </li>
                <li style="text-align:left;font-size:13px;">Baixa renda </li>
                <li style="text-align:left;font-size:13px;">Zonas bem rurais </li>
                <li style="text-align:left;font-size:13px;">Vivem com família estendida </li>
                <li style="text-align:left;font-size:13px;">Maior índice de ajuda governamental </li>
                <li style="text-align:left;font-size:13px;">Situação precária </li>
              </ul><br/>
              <p><strong>Visão Geral</strong><br>
                Homens e mulheres de  todas as idades, morando nas áreas mais distantes e rurais do País. A situação  precária é marcada pela falta de água encanada, saúde, educação e até, por  vezes, luz elétrica.</p>
              <p>De escolaridade baixa,  muitos nem conseguiram terminar o ensino fundamental. Suas rendas estão entre  as mais baixas do País, ou seja, na linha da pobreza.<br>
                Não possuem terra  própria e dependem de subempregos em lavouras, que às vezes existem, às vezes  não. </p>
              <p>Estão à margem do  sistema, e grande parte não possui sequer documentação básica. Sem nenhum tipo  de garantias, sobrevivem quase que exclusivamente de ajuda governamental. </p>
      </div>
    </div>
  </div>
  <!--END K40-->










