<!-- Construct the box with style you want. Here we are using box-danger -->
        <!-- Then add the class direct-chat and choose the direct-chat-* contexual class -->
        <!-- The contextual class should match the box, so we are using direct-chat-danger -->
        <div class="box box-danger box-solid direct-chat direct-chat-danger">
          <div class="box-header with-border">
            <h3 class="box-title" style="font-size: 13px;letter-spacing: .2px;">CHAT ONLINE</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-danger btn-flat btn-chat" ng-click="set_status_concluido()">Encerrar chat</button>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">

              <div ng-repeat="message in messages">

                <div class="direct-chat-msg" ng-if="message.agent_id != '0'">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left" ng-bind=":: me.name"></span>
                    <span class="direct-chat-timestamp pull-right" ng-bind=":: message.date"></span>
                  </div><!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="{{:: me.photo }}"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text" ng-bind-html=":: trustAsHtml(message.content)"></div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right" ng-if="message.customer_id != '0'">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right" ng-bind=":: chat.customer.name"></span>
                    <span class="direct-chat-timestamp pull-left" ng-bind=":: message.date"></span>
                  </div><!-- /.direct-chat-info -->
                  <img class="direct-chat-img" src="{{:: chat.customer.photo }}"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text" ng-bind-html=":: trustAsHtml(message.content)"></div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->

              </div>

            </div><!--/.direct-chat-messages-->

          </div><!-- /.box-body -->
          <div class="box-footer">
            <form name="formChat" ng-submit="sendMessage(new_message)">
              <div ng-show="chat.chat_status_id == '3'">
                Chat encerrado.
              </div>
              <div class="input-group" ng-show="chat.chat_status_id != '3'">
                <input type="text" id="new_message" autocomplete="off" required ng-model="new_message" placeholder="Digite a Mensagem ..." class="form-control">
                <span class="input-group-btn">
                  <submit ng-disabled="formChat.$invalid" type="submit" class="btn btn-danger btn-flat btn-chat">ENVIAR</submit>
                </span>
              </div>
            </form>
          </div><!-- /.box-footer-->
        </div><!--/.direct-chat -->
        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">

            <ul class="list-group list-group-unbordered" style="margin-bottom:0;">
              <li class="list-group-item">
                <b style="font-size:13px;">ORIGEM</b> <a class="pull-right">www.brasal.com.br/incorporacoes/versato.php</a>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
