<div ng-controller="chatCtrl">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content content-chat">
    <div class="row">
      <div class="col-md-6" ng-include="'chat/chat.html'"></div>
      <div class="col-md-6" ng-include="'chat/products.html'"></div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>















