<div class="box box-primary">
  <div class="box-body box-profile">
    <span class="txt-upper">Escolha o produto que está negociando abaixo para ter acesso ao material de apoio.</span>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="row" style="margin:0px;">
          <div class="col-md-12">
            <div class="box box-default collapsed-box box-solid">
              <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Produtos</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                  </button>
                </div>
                <!-- /.box-tools -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <ul class="folder-list">
                  <li ng-repeat="product in products" data-widget="collapse">
                    <a ng-click="setProduct(product)" target="_blank">
                      <i class="fa fa-folder-open"></i>
                      {{:: product.descricao }}
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Profile Image -->
<div class="box box-primary" ng-if=" !empty(actualProduct.image)  && !empty(actualProduct.description) ">
  <div class="box-body box-profile">
    <div class="row">
      <div class="col-md-12">
        <center><img src="{{ actualProduct.image }}"></center>
        <p class="txt-prod" ng-bind="actualProduct.description"></p>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="row row-prod" ng-repeat="filePerCategory in categoriesToFilter() | filter:filterCategories">
  <div class="col-md-12">
    <div class="box box-default collapsed-box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{ filePerCategory.category }}</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <div class="attachment-block clearfix" ng-repeat="file in files | filter:{category: filePerCategory.category}">
          <img class="attachment-img" src="{{ file.file }}" alt="Attachment Image">
          <div class="attachment-pushed">
            <h4 class="attachment-heading txt-upper">{{ file.name }}</h4>
            <div class="attachment-text pull-right">
              <button type="button" class="btn btn-default btn-xs" ng-click="sendFileToChat(file)">
                <i class="fa fa-share"></i> ENVIAR PARA O CHAT
              </button>
              <a href="{{ file.file }}" target="_blank" class="btn btn-default btn-xs">
                <i class="fa fa-download"></i> DOWNLOAD
              </a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->

</div>
<!-- /.row -->


