<div class="box box-default collapsed-box">
  <div class="box-header with-border">
    <div class="col-xs-6">
      <a ui-sref="contacts/add" class="btn btn-primary btn-block" style="width:200px;margin-left:-14px;padding:10px;"><b>Adicionar oportunidade</b></a>
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" placeholder="Buscar" ng-model="ctrl.search" style="margin-left: 21px;height: 37px;border-radius: 3px;">
    </div>
    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-footer box-comments" style="display: none;">
  <!-- /.box-comment -->
     <div class="form-group col-xs-4">
        <select class="form-control" style="border-radius:3px;text-transform: uppercase;font-weight: 700;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;letter-spacing: .5px;">
          <option value="">Status&nbsp;&nbsp;</option>
          <option value="0">Fria</option>
          <option value="1">Morna</option>
          <option value="2">Quente</option>
        </select>
      </div>
      <div class="form-group col-xs-8">
        <select
            class="form-control"
            style="border-radius:3px;
                   text-transform: uppercase;
                   font-weight: 700;
                   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
                   letter-spacing: .5px;"
            ng-model="ctrl.search_match"
            ng-change="ctrl.delete_filter_ordenations()">

          <option value="">Ordenação&nbsp;&nbsp;</option>
          <option value="customer_created_at_int">Inserção Menos Recente</option>
          <option value="-negociation_created_at">Inserção Mais Recente</option>
          <option value="last_update">Último atendimento</option>
          <option value="-last_update">Primeiro atendimento</option>
          <option value="customer_created_at">Cadastro mais recente</option>
          <option value="-customer_created_at">Cadastro menos recente</option>
          <option value="customer_updated_at">Edição mais recente</option>
          <option value="-customer_updated_at">Edição menos recente</option>

        </select>
      </div>
      <div class="form-group col-xs-12">
        <select class="form-control" style="border-radius:3px;text-transform: uppercase;font-weight: 700;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;letter-spacing: .5px;">
           <option value="">Todas as origens</option>
        <option value="0" class="options_origin option_origin_0" style="display: none;">Sem nenhuma origem</option>
                            <option value="12" class="options_origin option_origin_12" style="display: none;">Aplicativo quiz facebook</option>
                            <option value="58" class="options_origin option_origin_58" style="display: none;">Atendimento Stand Flampark</option>
                            <option value="6" class="options_origin option_origin_6" style="display: none;">Boobox</option>
                            <option value="45" class="options_origin option_origin_45" style="display: block;">Brasal</option>
                            <option value="13" class="options_origin option_origin_13" style="display: none;">Campanha Gran Reserva</option>
                            <option value="64" class="options_origin option_origin_64" style="display: none;">Campanha Lista Noroeste 2017</option>
                            <option value="34" class="options_origin option_origin_34" style="display: none;">Casa Cor Brasília 2016</option>
                            <option value="7" class="options_origin option_origin_7" style="display: none;">Casa Cor Goiânia 2016</option>
                            <option value="43" class="options_origin option_origin_43" style="display: none;">Chat</option>
                            <option value="55" class="options_origin option_origin_55" style="display: none;">Clientes Brasal Refrigerantes - Ceilândia</option>
                            <option value="2" class="options_origin option_origin_2" style="display: none;">Cobrança Coca Cola</option>
                            <option value="51" class="options_origin option_origin_51" style="display: none;">Coca Cola na sua casa</option>
                            <option value="54" class="options_origin option_origin_54" style="display: none;">Colaborador Consórcio</option>
                            <option value="39" class="options_origin option_origin_39" style="display: none;">Consórcio de Eletro</option>
                            <option value="38" class="options_origin option_origin_38" style="display: block;">Consórcio de Imóvel</option>
                            <option value="40" class="options_origin option_origin_40" style="display: none;">Consórcio de Serviço</option>
                            <option value="37" class="options_origin option_origin_37" style="display: block;">Consórcio de Veículos</option>
                            <option value="32" class="options_origin option_origin_32" style="display: none;">Contemplados consórcio 2016</option>
                            <option value="33" class="options_origin option_origin_33" style="display: none;">FAC - Ficha de Atendimento ao Cliente</option>
                            <option value="62" class="options_origin option_origin_62" style="display: none;">Facebook - Campanha Noroeste</option>
                            <option value="63" class="options_origin option_origin_63" style="display: none;">Facebook - Campanha Satélite</option>
                            <option value="52" class="options_origin option_origin_52" style="display: none;">Férias Seguras</option>
                            <option value="18" class="options_origin option_origin_18" style="display: none;">Gestão de Pessoas</option>
                            <option value="17" class="options_origin option_origin_17" style="display: none;">Hypnobox</option>
                            <option value="10" class="options_origin option_origin_10" style="display: none;">Indicação Colaborador</option>
                            <option value="36" class="options_origin option_origin_36" style="display: none;">Landing Page Amarok</option>
                            <option value="29" class="options_origin option_origin_29" style="display: none;">Landing Page Boulevard Residence</option>
                            <option value="31" class="options_origin option_origin_31" style="display: none;">Landing Page FlamPark</option>
                            <option value="14" class="options_origin option_origin_14" style="display: none;">Landing Page Gran Reserva</option>
                            <option value="35" class="options_origin option_origin_35" style="display: none;">Landing Page Jetta</option>
                            <option value="28" class="options_origin option_origin_28" style="display: none;">Landing Page Malbec</option>
                            <option value="3" class="options_origin option_origin_3" style="display: none;">Landing Page Persona</option>
                            <option value="25" class="options_origin option_origin_25" style="display: none;">Landing Page Praça Capital</option>
                            <option value="26" class="options_origin option_origin_26" style="display: none;">Landing Page Reserva 109</option>
                            <option value="27" class="options_origin option_origin_27" style="display: none;">Landing Page Reserva das Artes</option>
                            <option value="30" class="options_origin option_origin_30" style="display: none;">Landing Page Versato</option>
                            <option value="16" class="options_origin option_origin_16" style="display: none;">Lista SERASA 2015</option>
                            <option value="11" class="options_origin option_origin_11" style="display: none;">Mineradores de Dados</option>
                            <option value="60" class="options_origin option_origin_60" style="display: none;">Noroeste</option>
                            <option value="59" class="options_origin option_origin_59" style="display: none;">Oportunidade - Viva e Versato</option>
                            <option value="41" class="options_origin option_origin_41" style="display: none;">Página Consórcio - Fale Conosco</option>
                            <option value="53" class="options_origin option_origin_53" style="display: none;">Portal Brasal Inovação</option>
                            <option value="4" class="options_origin option_origin_4" style="display: none;">Portal G1</option>
                            <option value="5" class="options_origin option_origin_5" style="display: none;">Portal O Popular</option>
                            <option value="56" class="options_origin option_origin_56" style="display: none;">Properatti</option>
                            <option value="61" class="options_origin option_origin_61" style="display: none;">Recepção Brasal Veículos</option>
                            <option value="9" class="options_origin option_origin_9" style="display: none;">Sia Park Hotel</option>
                            <option value="8" class="options_origin option_origin_8" style="display: none;">SIMM</option>
                            <option value="21" class="options_origin option_origin_21" style="display: none;">Site Incorporações - Cadastre-se para receber novidades</option>
                            <option value="19" class="options_origin option_origin_19" style="display: none;">Site Incorporações - Central de vendas</option>
                            <option value="20" class="options_origin option_origin_20" style="display: none;">Site Incorporações - Entre em contato conosco</option>
                            <option value="22" class="options_origin option_origin_22" style="display: none;">Site Incorporações - Imprensa </option>
                            <option value="47" class="options_origin option_origin_47" style="display: none;">Site Incorporações - Newsletter</option>
                            <option value="23" class="options_origin option_origin_23" style="display: none;">Site Incorporações - Ofereça seu terreno</option>
                            <option value="24" class="options_origin option_origin_24" style="display: none;">Site Incorporações - Seja um fornecedor</option>
                            <option value="46" class="options_origin option_origin_46" style="display: none;">Site Incorporações Goiânia</option>
                            <option value="50" class="options_origin option_origin_50" style="display: none;">Site Incorporações Goiânia - Flampark</option>
                            <option value="49" class="options_origin option_origin_49" style="display: none;">Site Incorporações Goiânia - Persona</option>
                            <option value="44" class="options_origin option_origin_44" style="display: none;">Trabalho Frotista 2016</option>
                            <option value="15" class="options_origin option_origin_15" style="display: none;">Viva Real</option>
                            <option value="57" class="options_origin option_origin_57" style="display: none;">Viva Real</option>
                            <option value="42" class="options_origin option_origin_42" style="display: none;">Wimóveis</option>
                            <option value="1" class="options_origin option_origin_1" style="display: none;">Zap Móveis</option>

        </select>
      </div>


  </div>
</div>
