<div ng-controller="funilCtrl as ctrl">
  <content-header name="Funil de vendas" small=""></content-header>
  <div class="box-body funil-top">
    <div class="col-xs-12 col-sm-12 col-md-4" ng-include="'funil/filtros.html'"></div>

    <info-box grid="12 6 2" color-class="bg-green" icon-class="fa fa-money"
        value="R$ {{:: ctrl.fechado }}" text="Fechado"></info-box>

    <info-box grid="12 6 2" color-class="bg-blue" icon-class="fa fa-archive"
      value="{{:: ctrl.ganhos }}" text="Prod/serv(s)"></info-box>

    <info-box grid="12 6 2" color-class="bg-red" icon-class="fa fa-user-times"
      value="{{:: ctrl.perdidos }}" text="Perdidos"></info-box>

    <info-box grid="12 6 2" color-class="bg-aqua" icon-class="fa fa-check-square-o"
      value="{{:: ctrl.conversao }}%" text="Conversão total"></info-box>
  </div>

  <div class="box-body funil-steps" style="margin-top: -18px;">
    <div class="col-md-3" ng-include="'funil/listContato.html'"></div>
    <div class="col-md-3" ng-include="'funil/listNegociacao.html'"></div>
    <div class="col-md-3" ng-include="'funil/listNecessidades.html'"></div>
    <div class="col-md-3" ng-include="'funil/listFechamento.html'"></div>
  </div>
  
</div>
