<div class="box box-default box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">CONTATO</h3>

    <div class="box-tools pull-right">
      <span class="badge badge-primary ng-binding">{{(ctrl.negociations_1 | filter: ctrl.search).length}} CLIENTE(S)</span>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <div class="btn-group">
      <ul uib-pagination boundary-links="true" total-items="(ctrl.negociations_1 | filter: ctrl.search).length" items-per-page="ctrl.pageSize" num-pages="smallnumPages" ng-model="ctrl.currentPage_1" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" rotate="true" force-ellipses="true" boundary-link-numbers="true"></ul>
    </div>

    <div
        class="box box-widget collapsed-box"
        ng-class="{'border-transparent-cold': negociation.negociation_temperature == '0', 'border-transparent-warm': negociation.negociation_temperature == '1', 'border-transparent-hot': negociation.negociation_temperature == '2' }"
        ng-repeat="negociation in ctrl.negociations_1 | filter:ctrl.search | orderBy : ctrl.search_match : true  | limitTo: ctrl.pageSize : ((ctrl.currentPage_1 - 1) * ctrl.pageSize)">
      <div class="box-header with-border box-funil">
        <div class="user-block">
          <img class="img-circle" src="{{:: negociation.thumb_url }}" alt="User Image">
          <span class="username"><a href="#!/funil/{{:: negociation.negociation_id}}" ng-bind=":: negociation.customer_name"></a></span>
          <span class="description" ng-bind=":: negociation.customer_email"></span>
        </div>
        <!-- /.user-block -->
        <div class="box-tools">
          <button
            type="button"
            class="btn btn-box-tool btn-box-tool-colored"
            ng-class="{'btn-primary': negociation.negociation_temperature == '0', 'btn-warning': negociation.negociation_temperature == '1', 'btn-danger': negociation.negociation_temperature == '2' }"
            ng-click="ctrl.change_temperature(negociation)"
          ><i class="glyphicon glyphicon-fire"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            ng-click="ctrl.change_step(negociation)"
          ><i class="fa fa-arrows"></i>
          </button>
          <button
            type="button"
            class="btn btn-box-tool"
            data-widget="collapse"
          ><i class="fa fa-fw fa-plus-circle bt-plus"></i>
          </button>
        </div>
        <!-- /.box-tools -->
      </div>
      <div class="box-header with-border" style="margin: -7px 0 2px 0;" ng-show="negociation.change_temperature">
        <center>
        <span style="color: #555;font-weight: 700;font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;letter-spacing: .5px;font-size: 11px;">TEMPERATURA</span><br/>
        <div class="btn-group">
          <button type="button" style="padding: 2px 5px;" class="btn btn-xs btn-primary" ng-click="ctrl.set_temperature(negociation, 0)">Frio</button>
          <button type="button" style="padding: 2px 5px;" class="btn btn-xs btn-warning" ng-click="ctrl.set_temperature(negociation, 1)">Morno</button>
          <button type="button" style="padding: 2px 5px;" class="btn btn-xs btn-danger" ng-click="ctrl.set_temperature(negociation, 2)">Quente</button>
        </div>
        </center>
      </div>
      <div class="box-header with-border" ng-show="negociation.change_step" style="color: #555;font-weight: 700;font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;letter-spacing: .5px;font-size: 11px;">
        <center>
        <span >ALTERAR ETAPA</span><br/>
        <div class="btn-group">
          <button ng-if=":: negociation.step != '0'" type="button" class="bt-status" ng-click="ctrl.set_step(negociation, 0, $index)">CONTATO</button>
          <button ng-if=":: negociation.step != '1'" type="button" class="bt-status" ng-click="ctrl.set_step(negociation, 1, $index)">NEGOCIAÇÃO</button>
          <button ng-if=":: negociation.step != '2'" type="button" class="bt-status" ng-click="ctrl.set_step(negociation, 2, $index)">NECESSIDADES</button>
          <button ng-if=":: negociation.step != '3'" type="button" class="bt-status" ng-click="ctrl.set_step(negociation, 3, $index)">FECHAMENTO</button>
        </div>
        </center>
      </div>

      <!-- /.box-header -->

      <div class="box-footer box-comments" style="display: none;" ng-show="negociation.schedule_agent_name">
        <!-- /.box-comment -->
        <div class="box-comment">
          <!-- User image -->
          <img class="img-circle img-sm" src="{{negociation.schedule_agent_thumb_url }}" alt="User Image">

          <div class="comment-text">
            <span class="username">
              {{negociation.schedule_agent_name }}
              <span class="text-muted pull-right">{{negociation.schedule_date }}</span>
            </span><!-- /.username -->
            {{negociation.schedule_historic }}
          </div>
          <!-- /.comment-text -->
        </div>
        <!-- /.box-comment -->
      </div>
      <!-- /.box-footer -->
      <div class="box-footer" style="display: none;">
        <form method="post" ng-submit="ctrl.add_schedule(negociation)">
          <img class="img-responsive img-circle img-sm" src="{{:: ctrl.me.photo }}" alt="Alt Text">
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <input type="text" class="form-control input-sm" placeholder="Pressione enter adicionar" ng-model="negociation.new_schedule">
          </div>
        </form>
      </div>
      <!-- /.box-footer -->
    </div>


  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
