<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <td class="txt-upper">Observação</td>
        <td class="txt-upper">Ações</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obs in ctrl.customer.observations">
        <td>
          <textarea class="form-control" ng-model="obs.value" rows="2" placeholder="Informe a observação"></textarea>
        </td>
        <td style="width:150px;" ng-if="!ctrl.tabDelete">
          <button class="btn btn-success" ng-click="ctrl.addObs($index)"><i class="fa fa-plus"></i></button>
          <button class="btn btn-warning" style="padding: 8px 10px;border: 1px solid #f39c12;" ng-click="ctrl.cloneObs($index,obs)"><i class="fa fa-clone" style="font-size:13px;"></i></button>
          <button class="btn btn-danger" style="padding: 8px 10px;border: 1px solid #dd4b39;" ng-click="ctrl.deleteObs($index)"><i class="fa fa-trash-o" style="font-size:15px;"></i></button>
        </td>
        <td style="width:150px;" ng-if="ctrl.tabDelete">
          <button class="btn btn-success disabled"><i class="fa fa-plus"></i></button>
          <button class="btn btn-warning disabled" style="padding: 8px 10px;border: 1px solid #f39c12;"><i class="fa fa-clone" style="font-size:13px;"></i></button>
          <button class="btn btn-danger disabled" style="padding: 8px 10px;border: 1px solid #dd4b39;"><i class="fa fa-trash-o" style="font-size:15px;"></i></button>
        </td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
