<content-header name="Dashboard" small="Versão 1.0"></content-header>

<section class="content" ng-controller="dashboardCtrl as ctrl">
  <div class="box-body dash" style="padding:0 !important;">
    <div class="col-md-7">

      <div class="row">
        <value-box grid="12 6" class="box_dashboard" color-class="bg-green" icon-class="fa fa-server"
          value="{{:: ctrl.data.total_offers_table }}" text="MEU FUNIL DE VENDAS"></value-box>

        <value-box grid="12 6" class="box_dashboard" color-class="bg-green" icon-class="fa fa-users"
          value="{{:: ctrl.data.total_contacts }}" text="MEUS CONTATOS"></value-box>
      </div>

      <div class="row">
        <value-box grid="12 3" class="box_dashboard1" color-class="bg-red" icon-class="fa fa-commenting-o"
          value="{{:: ctrl.data.total_offers_table_contact }}" text="Em contato"></value-box>

        <value-box grid="12 3" class="box_dashboard1" color-class="bg-yellow" icon-class="fa fa-comments-o"
          value="{{:: ctrl.data.total_offers_table_negociation }}" text="Em Negociação"></value-box>

        <value-box grid="12 3" class="box_dashboard1" color-class="bg-aqua" icon-class="fa fa-suitcase"
          value="{{:: ctrl.data.total_offers_table_needs }}" text="Em Necessidades"></value-box>

        <value-box grid="12 3" class="box_dashboard1" color-class="bg-green" icon-class="fa fa-money"
          value="{{:: ctrl.data.total_offers_table_closing }}" text="Em Fechamento"></value-box>
      </div>

      <div class="row">
        <div class="alert alert-danger alert-dismissible" style="text-transform: uppercase !important;font-weight: 700 !important;font-family: 'Open Sans','Helvetica Neue',Helvetica,sans-serif;letter-spacing: .5px !important;font-size: 12px !important;color: #fff;margin: 0 10px 18px;background: #4f0b7b !important; border-color:#4f0b7b !important;"><center><i class="fa fa-thumbs-o-up" style="font-size: 22px;margin-top: -3px;float: left;"></i> "Quem mais oferece é quem mais vende!"</center></div>
      </div>

      <div class="row">
        <value-box grid="12 6" class="box_dashboard2" color-class="bg-yellow" icon-class="fa fa-calendar-check-o"
          value="{{:: ctrl.data.total_schedules_today }}" text="Atendimentos hoje"></value-box>

        <value-box grid="12 6" class="box_dashboard2" color-class="bg-green" icon-class="fa fa-calendar"
          value="{{:: ctrl.data.total_schedules_week }}" text="Atendimentos essa semana"></value-box>
      </div>

      <div class="row">
        <value-box grid="12 4" class="bg_verde1" color-class="bg-green" icon-class="fa fa-sort-amount-desc"
          value="{{:: ctrl.my_position }}&#186;" text="Posição no ranking"></value-box>

        <value-box grid="12 4" class="bg_verde2" color-class="bg-green" icon-class="fa fa-street-view"
          value="R${{:: ctrl.data.amount_possibilities }}" text="Possibilidade de fechar"></value-box>

        <value-box grid="12 4" class="bg_verde3" color-class="bg-green" icon-class="fa fa-money"
          value="R${{:: ctrl.data.amount_closed_month }}" text="Valor fechado no mês"></value-box>
      </div>


    </div>
    <div class="col-md-5" style="padding-right:0px !important;">
      <div class="col-md-12" style="padding-right:5px !important;" ng-include="'dashboard/calendar.html'"></div>
      <div class="col-md-12" style="padding-right:5px !important;" ng-include="'dashboard/ranking.html'"></div>
    </div>
  </div>
</section>


















