<div class="box box-primary">
  <div class="box-header ui-sortable-handle" style="cursor: move;">
    <i class="ion ion-clipboard"></i>

    <h3 class="box-title" style="color: #000">Agenda do dia</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul class="todo-list ui-sortable">

      <li ng-repeat="schedule in ctrl.data.schedules">
        <!-- drag handle -->
        <small class="label" style="background-color: {{:: schedule.color }}"><i class="fa fa-clock-o"></i> <span ng-bind="schedule.hora"></span></small>
        <!-- checkbox -->
        <!-- todo text -->
        <span class="text" ng-bind="schedule.title"></span>
        <!-- Emphasis label -->
        <!-- General tools such as edit or delete-->
        <div class="tools" style="display: none">
          <i class="fa fa-edit"></i>
          <i class="fa fa-trash-o"></i>
        </div>
      </li>

    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix no-border">
    <a href="#!/calendar/add" class="btn btn-default pull-right bt_ad_agenda"><i class="fa fa-plus"></i> Adicionar</a>
  </div>
</div>
