<div >
  <section class="content" style="margin:12px 10px">

    <div class="row" ng-controller="customerCtrl as ctrl">
      <div class="col-md-3">
        <div ng-include="'customers/info.html'"></div>
         <div ng-include="'customers/tels.html'"></div>
        <!--<div ng-include="'customers/addresses.html'"></div>
        <div ng-include="'customers/social.html'"></div> -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="box">
          <div class="box-header with-border">
            Enriquecimento
          </div>
          <div class="box-body pad ">


                <a class="btn btn-app">
                  <i class="fa fa-barcode" aria-hidden="true"></i>
                  Serasa
                </a>

                <a class="btn btn-app">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Transparência
                </a>

                <a class="btn btn-app">
                  <i class="fa fa-university" aria-hidden="true"></i>
                  Empresas
                </a>

              <a class="btn btn-app">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Facebook
              </a>

              <a class="btn btn-app">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
              </a>

              <a class="btn btn-app">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Google +
              </a>
<!-- href="#!/enrich/{{:: ctrl.customer.id}}/escolaridade" -->
              <a class="btn btn-app" >
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                Escolaridade
              </a>

          </div>

          <div class="box-footer" ng-controller="enricherCtrl as wrt">
          <p>e aqui {{wrt.listaFacebook}}</p>
          <p>e aqui {{wrt.listaFacebook}}</p>
          <ul ng-repeat="item in listaFacebook">
            <li>
              item {{item}}
              {{ wrt.item.id }}
              {{ctrl.customer.name}}
              
            </li>
          </ul>
          {{ wrt.item.next}}
              {{ctrl.customer.name}}

            <a ng-click="wrt.enriching_action(ctrl.customer)" class="btn btn-block btn-info"> Iniciar</a>
          </div>


        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.row -->
  </section>
</div>


