<div ng-controller="enricherCtrl as o">
  <section class="content" style="margin:12px 10px">

    <div class="row">
      <div class="col-md-3" ng-controller="customerCtrl as ctrl">
        <div ng-include="'customers/info.html'"></div>
         <div ng-include="'customers/tels.html'"></div>
        <!--<div ng-include="'customers/addresses.html'"></div>
        <div ng-include="'customers/social.html'"></div> -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="box">
          <div class="box-header with-border">
            Enriquecimento
          </div>
          <div class="box-body pad ">


                <a class="btn btn-app">
                  <i class="fa fa-barcode" aria-hidden="true"></i>
                  Serasa
                </a>

                <a class="btn btn-app">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Transparência
                </a>

                <a class="btn btn-app">
                  <i class="fa fa-university" aria-hidden="true"></i>
                  Empresas
                </a>

              <a class="btn btn-app">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Facebook
              </a>

              <a class="btn btn-app">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
              </a>

              <a class="btn btn-app">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Google +
              </a>

              <a class="btn btn-app">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                Escolaridade
              </a>

          </div>

        

         <div >
            <h3>Buscando dados no facebook    -- other var {{o.lotus}}</h3>
            <p ng-repeat="a in o.lotus">
              <!-- lotus {{key }} => value: {{ value }} -->
              {{a.name}}
            </p>
           <hr>
            <p ng-repeat="b in o.listFacebook">
              id {{b.id}}
            </p>
            <hr>
            

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-primary active" role="progressbar"  aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
          </div>

          <ul class="timeline">
            <li>
              <i class="fa fa-google-plus bg-purple"></i>
              <div class="timeline-item">
                <h3 class="timeline-header">Resultados encontrados para {user.name}</h3>
                <div class="timeline-body">
                  <div class="row">
                    <div class="col-sm-3 col-md-3">
                      <div class="thumbnail">
                        <img src="http://lorempixel.com/output/people-q-c-153-153-9.jpg" alt="" class="img-circle img-bordered-sm">
                        <div class="caption">
                          <h3>
                            <span class="username">
                            <li ng-if="listFacebook.length != 26">
                                    imprime {{listFacebook}} <p ng-model="listFacebook.length"></p>
                                  
                                </li>
                             
                              key{{ key }}
                            </span>
                          </h3>
                          <p>
                            <span class="description">
                              <a >
                                {user.link}
                              </a>
                            </span>
                          </p>
                          <p>
                            <a href="#!/enrichiement/{{:: ctrl.customer.id}}/escolaridade" class="btn btn-primary" role="button">Selecionar</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </li>
            <li>

          </ul>
         </div>


        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.row -->
  </section>
</div>
