<div ng-controller="customerCtrl as ctrl">
  <section class="content" style="margin:12px 10px">

    <div class="row">
      <div class="col-md-3">
        <div ng-include="'customers/info.html'"></div>
         <div ng-include="'customers/tels.html'"></div>
        <!--<div ng-include="'customers/addresses.html'"></div>
        <div ng-include="'customers/social.html'"></div> -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="box">
          <div class="box-header with-border">
            Enriquecimento
          </div>
          <div class="box-body pad ">


                <a class="btn btn-app">
                  <i class="fa fa-barcode" aria-hidden="true"></i>
                  Serasa
                </a>

                <a class="btn btn-app btn-success">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Transparência
                </a>

                <a class="btn btn-app">
                  <i class="fa fa-university" aria-hidden="true"></i>
                  Empresas
                </a>

              <a class="btn btn-app">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                Facebook
              </a>

              <a class="btn btn-app">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter
              </a>

              <a class="btn btn-app">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Google +
              </a>

              <a class="btn btn-app">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                Escolaridade
              </a>

          </div>

          <div ng-include="enrich/enriching-escolaridade.html">
          </div>

          <h3>Buscando dados no Serasa...</h3>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
          </div>

          <ul class="timeline">
            <li>
              <i class="fa fa-facebook bg-purple"></i>
              <div class="timeline-item">
                <h3 class="timeline-header">Resultados encontrados para {user.name}</h3>
                <div class="timeline-body">

                  <div class="row">
                    <div class="col-sm-3 col-md-3">
                      <div class="thumbnail">

                        <div class="caption">
                          <h3>
                            <span class="username">
                              {User.name}
                            </span>
                          </h3>
                          <p>
                            <span class="description">

                              <p>
                                {user.cpf}
                              </p>
                            </span>
                          </p>
                          <p>
                            <a href="#!/enrichiement/{{:: ctrl.customer.id}}/transparencia" class="btn btn-primary" role="button">Selecionar</a>

                        </div>
                      </div>
                    </div>
                  </div>


                <div class="" >
                  <span>puchado de la {{ctrl.customer.name}}</span>
                </div>
                  <span></span>
                  <div class="col col-md-9" ng-if="">
                    <div class="alert alert-danger alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                      Nao foram encontrados usuarios com esse nome, tente novamente mais tarde.
                    </div>
                  </div>
                </div>
              </div>



            </li>
            <li>

          </ul>


        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.row -->
  </section>
</div>
