<div class="box">
  <div class="box-header">
    <h3 class="box-title" style="color: #000">Ranking de interações</h3>

    <div class="box-tools">
      <div class="btn-group">
        <ul uib-pagination boundary-links="true" total-items="ctrl.data.ranking.length" items-per-page="ctrl.pageSize" num-pages="smallnumPages" ng-model="ctrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" rotate="true" force-ellipses="true" boundary-link-numbers="true"></ul>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table">
      <tbody><tr>
        <th style="width: 10px">#</th>
        <th colspan="2">Usuário</th>
        <th colspan="2">Total</th>
      </tr>

      <tr ng-repeat="user in ctrl.data.ranking | limitTo: ctrl.pageSize : ((ctrl.currentPage - 1) * ctrl.pageSize)">
        <td>{{:: user.position }}&#186;</td>
        <td style="width: 50px">
          <img class="img-circle img-sm" src="{{:: user.photo }}" alt="User Image">
        </td>
        <td ng-bind=":: user.name"></td>
        <td style="width: 100px">
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-danger" style="width: {{:: user.total / ctrl.total_ranking * 100 }}%"></div>
          </div>
        </td>
        <td style="width: 40px"><span class="badge bg-red" ng-bind=":: user.total "></span></td>
      </tr>

    </tbody></table>
  </div>
  <!-- /.box-body -->
</div>
