<!-- <!doctype html>
<html ng-app="app">
  <head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript">
    	angular.module('app', [])
    	.controller('myController', function($scope, $http){
    		var vm = this   

   			$scope.facebook = function() {
       
      	$http.get(`https://api.ubicity.com.br/ss/redes-sociais/facebook?name=Fabio%20Buiati`).then(function(result, status){
          $scope.listFacebook = result.data.data
          console.log('$scope.listFacebook')
          console.log($scope.listFacebook)
        
          //$scope.$apply();
        })

        vm.lotus = "lotus renault";
        
    }
    	})
    </script>
  </head>
  <body>

  	<p ng-controller="myController as ctrl">
  	coisa aqui
  		{{ ctrl.lotus }}

  		<button ng-click="facebook()">butao</button>
  	</p>
  </body>
</html> -->